iap/localEnvironmentVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="serializedRecord" type="xsd:string"/>
	<xsd:element name="serializedRecordCIF" type="xsd:string"/>
	<xsd:element name="uniqueRefNum" type="xsd:string"/>
	<xsd:element name="referenceNumber" type="xsd:string"/>
</xsd:schema>