gefu.app/Ganaseva/loanApplicationFormat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.quantiguous.com/xmlnsc/loanApplicationFormat.xsd">
   <xsd:element name="ganasevaGefuRecord">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="1" name="record">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="customerHandOff" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="TITLE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SUBSTRING (customer_details.customer_name, BEFORE, '.')</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="CUSTOMERNAME" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SUBSTRING (customer_details.customer_name, AFTER, '.')</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXTERNAL-CUSTOMER-ID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.customer_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ADDRESS1" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.address</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="500" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ADDRESS2" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.address</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="500" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ADDRESS3" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.address</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="500" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="CUSTDOB" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.customer_dob</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="CUSTAGE" type="xsd:int"  minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.age</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="MOBILE_NO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.mobile_no</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="30" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PHONE_NO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>Landline phone if capturing</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="EMAILID" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>Email id if capturing</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CASTE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.caste_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="GENDER" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.gender</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="MARITALSTATUS" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.marital_status</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="NATIONALITY" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.nationality_code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RELIGION" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.religionbo</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="MOTHER_TONGUE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.mother_tonguebo</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="STATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="CITY" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="BRANCH-CODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.branch</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="OPERATING-REGION-CODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_detaisl._operating_region</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PINCODE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="AADHAR_CARDNO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.aadhar_card_num</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PENSION_CARDNO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.pension_card_num</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="RATION_CARD_NO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.ration_card_num</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="VOTER_ID" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.voterid</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="PAN_NO" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.pan_num</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="BARCODE_NO" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.bar_code_num</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="500" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ORIGINATOR" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.created_by</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="APPROVER" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>PSM ID to bechecked with SmartChip</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="AADHAR_SEEDING_CONSENT" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.aadhar_seeding_consent</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="BC_REFERENCE_ID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CUSTOMER_TYPE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.customer_type_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="OCCUPATION" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.occupation_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="EDU-QUALIFICATION" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.qualification_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CATEGORY" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.category_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LANGUAGE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.language_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="CARDISSUANCEFLAG" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.card_issuance</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="1" name="BC-BRANCH-CODE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>customer_details.bc_branch</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF1_DR_CRD_ISSUANCE_TYPE" minOccurs="0" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>Mandatory if Card Issuance Flag is selected</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF2_MINORITY_COMMUNITY" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF3_DISABILITY_HANDICAPPED" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF4_WEAKER_SECTION" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF5_BORROWER_TYPE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="savingAccount" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="EXTERNALACCOUNTNO" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>saving_account_creation_details.saving_account_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXTERNALCUSTOMERID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>saving_account_creation_details.customer</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ACCOUNTTYPE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>saving_account_creation_details.account_type</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="PRODUCTCODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>saving_account_creation_details.product_type</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ORIGINATOR" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>saving_account_creation_details.created_by</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="256" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="APPROVER" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>PSM ID to be checked with SmartChip</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="256" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="group" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="EXTERNALGROUPNO" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.group_code</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="GROUPNAME" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.group_name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="128" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="GROUPTYPE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.group_type</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="MINNUMBER" type="xsd:int"  minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.minimum_member_limit</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="MAXNUMBERS" type="xsd:int"  minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.maximum_member_limit</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="FORMATIONDATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.group_formation_date</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="DAYOFPERIOD" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will send</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="2" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="MEETINGTIME" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.meeting_time</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="MEETINGFREQUENCY" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will send</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXTERNALCENTERID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.center</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="40" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="CENTERNAME" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>center_creation_details.center_name</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="MAXCENTERLIMIT" type="xsd:int"  minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.max_center_limit</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="DISTANCEFROMBRANCH" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.distance_from_branch</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="BRANCHCODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details.branchbo</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="OPERATINGREGIONCODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>group_creation_details._operating_region</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="STATUS" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>member_details.memberStatus</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="256" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="loanAcct" minOccurs="1" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="EXTERNALLOANNO" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.loan_account_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXTERNALCUSTOMERID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.customer</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXTERNAL_GROUPID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.group_details</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="PRODUCT_CODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="LOANAMOUNT" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.applied_loan_amount</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="16" />
                                       <xsd:fractionDigits value="4" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="EXPECTEDDISBURSALDATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="LOANSTARTDATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="ORIGINATOR" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.created_by</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="APPROVER" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>PSM ID to be checked with SmartChip</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="100" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="NOOFINSTALLMENTS" type="xsd:int"  minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                              </xsd:element>
                              <xsd:element name="FREQUENCY" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="30" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="FIRSTEMIDATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="50" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="TARGET_EMI" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="16" />
                                       <xsd:fractionDigits value="4" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="0" name="LOAN_CYCLE" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.loan_cycle</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="10" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="RECOMMENDED_LOAN" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.applied_loan_amount</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="16" />
                                       <xsd:fractionDigits value="4" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF1_GOVT_SCHEME_ADVANCES" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF2_PURPOSE_OF_LOAN" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.loan_purpose_id</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF3_ADVANCE_TYPE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF4_INDUSTRY_CLASSIFICATION" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF5_BSR_ORG_CODE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>TBD</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="UDF6_INSURANCE_FLG" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>loan_creation_details.insurance_flag</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="4000" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="loanDisbursal" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="EXTERNAL_LOANID" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>SmartChip will pass- Loan account ID</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="256" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="AMOUNT_DISBURSED" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>This will be equal to applied_loan_amount</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:decimal">
                                       <xsd:totalDigits value="16" />
                                       <xsd:fractionDigits value="4" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="DISBURSAL_DATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                              <xsd:element name="INSTALLMENT_START_DATE" minOccurs="1" maxOccurs="1">
                                 <xsd:annotation>
                                    <xsd:documentation>BPM will pass</xsd:documentation>
                                 </xsd:annotation>
                                 <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                       <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                 </xsd:simpleType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>