gefu.app/loanRepaymentFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="loanRepaymentFormat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:terminator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%NL;" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|" dfdl:separatorSuppressionPolicy="trailingEmpty" dfdl:terminator="">
                                          <xsd:annotation>
                <xsd:appinfo source="http://www.ogf.org/dfdl/">
                  <dfdl:sequence/>
                </xsd:appinfo>
              </xsd:annotation>
                            <xsd:element name="loan">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="">
                    <xsd:element ibmDfdlExtn:sampleValue="1932764917" name="loanIURNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element dfdl:terminator="" maxOccurs="1" name="repayments">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="" dfdl:terminator="">
                      <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="" maxOccurs="unbounded" name="repayment">
                      <xsd:complexType>
                        <xsd:sequence dfdl:separator="|" dfdl:terminator="~">
                          <xsd:element dfdl:textNumberPattern="#0" ibmDfdlExtn:sampleValue="Rec_999" name="recordNumber">
                            <xsd:annotation/>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="7"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:textNumberPattern="#0" ibmDfdlExtn:sampleValue="1234" name="flowId">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="flowStartDate" type="xsd:date"/>
                          <xsd:element minOccurs="1" name="eiFrequencyType">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                                <xsd:enumeration value="B"/>
                                <xsd:enumeration value="D"/>
                                <xsd:enumeration value="W"/>
                                <xsd:enumeration value="F"/>
                                <xsd:enumeration value="T"/>
                                <xsd:enumeration value="M"/>
                                <xsd:enumeration value="Q"/>
                                <xsd:enumeration value="H"/>
                                <xsd:enumeration value="Y"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="eiFrequencyWeekNum">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="eiFrequencyWeekDay">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" minOccurs="0" name="eiFrequencyStartDate">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:maxInclusive value="31"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" name="eiFrequencyHolidayState">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                                <xsd:enumeration value="N"/>
                                <xsd:enumeration value="P"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="eiFrequencyMonths">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="eiFrequencyDays">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" name="interestFrequencyType">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                                <xsd:enumeration value="B"/>
                                <xsd:enumeration value="D"/>
                                <xsd:enumeration value="W"/>
                                <xsd:enumeration value="F"/>
                                <xsd:enumeration value="T"/>
                                <xsd:enumeration value="M"/>
                                <xsd:enumeration value="Q"/>
                                <xsd:enumeration value="H"/>
                                <xsd:enumeration value="Y"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="interestFrequencyWeekNum">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="interestFrequencyWeekDay">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" minOccurs="0" name="interestFrequencyStartDate">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:maxInclusive value="31"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element ibmDfdlExtn:sampleValue="N" minOccurs="1" name="interestFrequencyHolidayState">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                                                                                              <xsd:enumeration value="N"/>
                                                                <xsd:enumeration value="P"/>
                                                            </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="interestFrequencyMonths">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="24" minOccurs="0" name="interestFrequencyDays">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="noOfDemands">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:maxInclusive value="99999"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" minOccurs="0" name="nextDemandDate" type="xsd:date"/>
                          <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" minOccurs="0" name="nextInterestDemandDate" type="xsd:date"/>
                          <xsd:element dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="3000" maxOccurs="1" minOccurs="1" name="flowAmount">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="16"/>
                                                                                              <xsd:fractionDigits value="2"/>
                                                            </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>

                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
	</xsd:complexType>
  </xsd:element>

</xsd:schema>