gefu.app/loanAccountFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="loanAccountFormat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%NL;" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="009" name="solId" type="xsd:string"/>
							<xsd:element fixed="F" ibmDfdlExtn:sampleValue="A" minOccurs="1" name="reprisingPlan" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element fixed="N" ibmDfdlExtn:sampleValue="CASH" minOccurs="1" name="repayMethod" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="SDGEN" name="schemeCode">
                <xsd:annotation>
                  <xsd:documentation>'Keep it blank' but value present in sample file</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="0"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="accountPreferentialInRate" type="xsd:string"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" minOccurs="0" name="accountOpenDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Default Value for a given file will be same or it will be fixed for all files.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="c0642" name="accountManagerUserId" type="xsd:string"/>
                                                 <xsd:element ibmDfdlExtn:sampleValue="000011" name="cifId" type="xsd:string"/>
                                                 <xsd:element fixed="1" ibmDfdlExtn:sampleValue="C" name="modeOfOperation" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="employeeId">
                <xsd:annotation>
                  <xsd:documentation>Keep it blank</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="0"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                                             <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="Kapil" minOccurs="0" name="employeeName">
                <xsd:annotation>
                  <xsd:documentation>Keep it blank</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="0"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            <xsd:element fixed="N" ibmDfdlExtn:sampleValue="12" name="accountStatement" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="YEARLY" minOccurs="0" name="statementFrequencyType" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="statementFrequencyWeekNum" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="0" minOccurs="0" name="statementFrequencyWeekDay" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="statementFrequencyStartDate" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="statementFrequencyHolidayState" type="xsd:string"/>
                                                 <xsd:element dfdl:textNumberPattern="#0.###" name="sanctionLimit" type="xsd:decimal"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="limitSanctionDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Default Value for a given file will be same or it will be fixed for all files.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="applicableDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Default Value for a given file will be same or it will be fixed for all files.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" fixed="2099-12-31" ibmDfdlExtn:sampleValue="2099-12-31" name="expiryDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element fixed="D" ibmDfdlExtn:sampleValue="T" name="drawingPowerIndicator" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Sample file contains a different value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element fixed="0" ibmDfdlExtn:sampleValue="100" minOccurs="1" name="drawingPowerPercentage" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Sample file contains a different value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="100000" minOccurs="0" name="drawingPowerAmount" type="xsd:decimal"/>
                                                 <xsd:element fixed="AGM" ibmDfdlExtn:sampleValue="2" name="sanctionLevelCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element fixed="AGM" ibmDfdlExtn:sampleValue="123" name="sanctionAuthorisationCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element fixed="1234" ibmDfdlExtn:sampleValue="123124" name="sanctionReferenceNo" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="documentDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation>Default Value for a given file will be same or it will be fixed for all files.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="TYP" name="accountOccupationCode" type="xsd:string"/>
                                                 <xsd:element fixed="01" ibmDfdlExtn:sampleValue="23" name="customerHealthCode" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="100000" name="loanAmount" type="xsd:decimal"/>
                                                 <xsd:element dfdl:textNumberPattern="#0" name="loanPeriodMonths" type="xsd:int"/>
                                                 <xsd:element dfdl:textNumberPattern="#0" minOccurs="1" name="loanPeriodDays" type="xsd:int">
                <xsd:annotation>
                  
                <xsd:documentation>Mandatory but sample file does not contain any value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1293764912763" minOccurs="0" name="operativeAccountNo" type="xsd:string"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="flowStartDate" type="xsd:date"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="nextDemandDate" type="xsd:date"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="nextInterestRunDate" type="xsd:date"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="CCC" minOccurs="0" name="collateralCode" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="345234523" minOccurs="0" name="entityAccountNo" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123456" minOccurs="0" name="apportionedAmount" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="N" minOccurs="0" name="markUpApplicable" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="F" minOccurs="0" name="markUpInterestMethod" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="23" minOccurs="0" name="markUpPercentage" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="100" minOccurs="0" name="loanToValuePercentage" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="sectorCode" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="subSectorCode" type="xsd:string"/>
                                                 <xsd:element ibmDfdlExtn:sampleValue="123" name="occupationCode" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="borrowerCategory" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="adfadfsdf" minOccurs="0" name="purposeofAdvance" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="modeOfAdvance" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" fixed="41" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="advanceType" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="natureofAdvance" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="guaranteeCoverCode" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="industryType" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="" minOccurs="0" name="freeCode1" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode2" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode3" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode4" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode5" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode6" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode7" type="xsd:string"/>
                                                 <xsd:element fixed="1" ibmDfdlExtn:sampleValue="body_value3" minOccurs="1" name="freeCode8" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode9" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode10" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default is OTHR - but sample file contains no value</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText1" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText2" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText3" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText4" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText5" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText6" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText7" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText8" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText9" type="xsd:string"/>
                                                 <xsd:element fixed="OTHR" ibmDfdlExtn:sampleValue="body_value3" minOccurs="1" name="freeText10" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText11" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText12" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText13" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText14" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="08173451451234" minOccurs="0" name="forAcidNo" type="xsd:string"/>
                                                 <xsd:element fixed="Y" ibmDfdlExtn:sampleValue="G" minOccurs="1" name="eiSchemeFlag" type="xsd:string">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="23" minOccurs="0" name="normalHolidayPeriod" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="23" minOccurs="0" name="autorescheduleafterHolidayPeriod" type="xsd:string"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" minOccurs="0" name="holidayPeriodEndDate" type="xsd:date"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="noOfInstalments" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="N" minOccurs="0" name="interestDuringHolidayPeriod" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="Y" minOccurs="0" name="holidayInterestFrequencyType" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="holidayInterestFrequencyWeekNum" type="xsd:string"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="holidayInterestFrequencyWeekDay" type="xsd:string"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" minOccurs="0" name="holidayInterestFrequencyStartDate" type="xsd:date"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="a" minOccurs="0" name="holidayInterestFrequencyHolidayState" type="xsd:string"/>
                                                    <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="last1" type="xsd:string"/>
                            <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="last2" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>