gefu.app/loanAccountFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recSepFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="loanAccountFormat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
				<xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%NL;" maxOccurs="unbounded" name="record">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|" dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element ibmDfdlExtn:sampleValue="009" name="solId">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element ibmDfdlExtn:sampleValue="A" minOccurs="1" name="reprisingPlan">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                                                          <xsd:enumeration value="C"/>
                                        <xsd:enumeration value="F"/>
                                        <xsd:enumeration value="V"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="E" minOccurs="1" name="repayMethod">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                                                                                                                                                                                                                                                                                                                                                                                                          <xsd:enumeration value="E"/>
                                        <xsd:enumeration value="D"/>
                                        <xsd:enumeration value="N"/>
                                        <xsd:enumeration value="P"/>
                                        <xsd:enumeration value="S"/>
                                        <xsd:enumeration value="M"/>
                                        <xsd:enumeration value="H"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="SDGEN" name="schemeCode">
                <xsd:annotation>
                  
                <xsd:documentation>Mandatory it is required</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="accountPreferentialInRate">
                                                <xsd:annotation>
                  
                </xsd:annotation>
                                                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" minOccurs="1" name="accountOpenDate" type="xsd:date">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="c0642" name="accountManagerUserId">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="000011" name="cifId">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element fixed="1" ibmDfdlExtn:sampleValue="C" name="modeOfOperation">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="4"/>
                    <xsd:enumeration value="5"/>
                    <xsd:enumeration value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="employeeId">
                <xsd:annotation>
                  
                
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                                             <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="Kapil" minOccurs="0" name="employeeName">
                <xsd:annotation>
                  
                
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                            <xsd:element fixed="N" ibmDfdlExtn:sampleValue="12" name="accountStatement">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="B"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="S"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="YEARLY" minOccurs="0" name="statementFrequencyType">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="M"/>
                    <xsd:enumeration value="H"/>
                    <xsd:enumeration value="Y"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="statementFrequencyWeekNum">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="0" minOccurs="0" name="statementFrequencyWeekDay">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="statementFrequencyStartDate">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="statementFrequencyHolidayState">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="P"/>
                    <xsd:enumeration value="S"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0.###" name="sanctionLimit">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                                                          <xsd:fractionDigits value="2"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="limitSanctionDate" type="xsd:date">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="applicableDate" type="xsd:date">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" ibmDfdlExtn:sampleValue="2099-12-31" name="expiryDate" type="xsd:date">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="T" name="drawingPowerIndicator">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                                                                                                                      <xsd:enumeration value="D"/>
                                        <xsd:enumeration value="E"/>
                                        <xsd:enumeration value="P"/>
                                        <xsd:enumeration value="M"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="100" minOccurs="1" name="drawingPowerPercentage">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="100000" minOccurs="0" name="drawingPowerAmount">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                                                          <xsd:fractionDigits value="2"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="2" name="sanctionLevelCode">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                                                          <xsd:enumeration value="AGM"/>
                                        <xsd:enumeration value="AZM"/>
                                        <xsd:enumeration value="BCC"/>
                                        <xsd:enumeration value="BRMGR"/>
                                        <xsd:enumeration value="BUSHD"/>
                                        <xsd:enumeration value="CGM"/>
                                        <xsd:enumeration value="CHAIR"/>
                                        <xsd:enumeration value="CMAVP"/>
                                        <xsd:enumeration value="CRO"/>
                                        <xsd:enumeration value="DGM"/>
                                        <xsd:enumeration value="DZM"/>
                                        <xsd:enumeration value="ED"/>
                                        <xsd:enumeration value="GM"/>
                                        <xsd:enumeration value="HDCRD"/>
                                        <xsd:enumeration value="JGM"/>
                                        <xsd:enumeration value="MCC"/>
                                        <xsd:enumeration value="MDCEO"/>
                                        <xsd:enumeration value="RBS"/>
                                        <xsd:enumeration value="REGHD"/>
                                        <xsd:enumeration value="RMSRM"/>
                                        <xsd:enumeration value="SRMGR"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="123" name="sanctionAuthorisationCode">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                                                          <xsd:enumeration value="AGM"/>
                                        <xsd:enumeration value="AZM"/>
                                        <xsd:enumeration value="BCC"/>
                                        <xsd:enumeration value="BRMGR"/>
                                        <xsd:enumeration value="BUSHD"/>
                                        <xsd:enumeration value="CGM"/>
                                        <xsd:enumeration value="CHAIR"/>
                                        <xsd:enumeration value="CMAVP"/>
                                        <xsd:enumeration value="CRO"/>
                                        <xsd:enumeration value="DGM"/>
                                        <xsd:enumeration value="DZM"/>
                                        <xsd:enumeration value="ED"/>
                                        <xsd:enumeration value="GM"/>
                                        <xsd:enumeration value="HDCRD"/>
                                        <xsd:enumeration value="JGM"/>
                                        <xsd:enumeration value="MCC"/>
                                        <xsd:enumeration value="MDCEO"/>
                                        <xsd:enumeration value="RBS"/>
                                        <xsd:enumeration value="REGHD"/>
                                        <xsd:enumeration value="RMSRM"/>
                                        <xsd:enumeration value="SRMGR"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element fixed="" ibmDfdlExtn:sampleValue="123124" name="sanctionReferenceNo">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="documentDate" type="xsd:date">
                <xsd:annotation>
                  
                <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="TYP" minOccurs="0" name="accountOccupationCode">
                                                <xsd:annotation>
                  <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element fixed="01" ibmDfdlExtn:sampleValue="23" name="customerHealthCode">
                <xsd:annotation>
                  <xsd:documentation>Default for all</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="100000" name="loanAmount">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                                                          <xsd:fractionDigits value="2"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0" name="loanPeriodMonths">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:textNumberPattern="#0" minOccurs="1" name="loanPeriodDays">
                <xsd:annotation>
                  
                
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1293764912763" minOccurs="0" name="operativeAccountNo">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="flowStartDate" type="xsd:date"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="nextDemandDate" type="xsd:date"/>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" name="nextInterestRunDate" type="xsd:date"/>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="CCC" minOccurs="0" name="collateralCode">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="345234523" minOccurs="0" name="entityAccountNo">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="123456" minOccurs="0" name="apportionedAmount">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                                                          <xsd:fractionDigits value="2"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" minOccurs="0" name="markUpApplicable" type="xsd:boolean">
                              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="F" minOccurs="0" name="markUpInterestMethod">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.##" ibmDfdlExtn:sampleValue="23" minOccurs="0" name="markUpPercentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0.##" ibmDfdlExtn:sampleValue="100" minOccurs="0" name="loanToValuePercentage">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="9"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="sectorCode">
                                                <xsd:annotation>
                  <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="subSectorCode">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="123" name="occupationCode">
                                                <xsd:annotation>
                  <xsd:documentation>Input field</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                                      </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="123" minOccurs="0" name="borrowerCategory">
                                                <xsd:annotation>
                  <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                    <xsd:enumeration value="99"/>
                    <xsd:enumeration value="45"/>
                    <xsd:enumeration value="31"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="adfadfsdf" minOccurs="0" name="purposeofAdvance">
                                                <xsd:annotation>
                  <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="modeOfAdvance">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="advanceType">
                <xsd:annotation>
                  
                <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                    <xsd:enumeration value="41"/>
                    <xsd:enumeration value="42"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="natureofAdvance">
                <xsd:annotation>
                  
                <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="107"/>
                    <xsd:enumeration value="3"/>
                    <xsd:enumeration value="109"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="guaranteeCoverCode">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="industryType">
                                                <xsd:annotation>
                  <xsd:documentation>List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="" minOccurs="0" name="freeCode1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode6">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode7">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element ibmDfdlExtn:sampleValue="body_value3" minOccurs="1" name="freeCode8">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="2"/>
                    <xsd:enumeration value="3"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode9">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeCode10">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                                                                              </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText6">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText7">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText8">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText9">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element fixed="" ibmDfdlExtn:sampleValue="body_value3" minOccurs="1" name="freeText10">
                                                <xsd:annotation>
                  <xsd:documentation>Business Segemnt - List of possible codes shared by Rizwan</xsd:documentation>
                </xsd:annotation>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText11">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText12">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText13">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="body_value3" minOccurs="0" name="freeText14">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="80"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="08173451451234" minOccurs="0" name="forAcidNo">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:representation="text" dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" minOccurs="1" name="eiSchemeFlag" type="xsd:boolean">
                <xsd:annotation>
                  
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" minOccurs="0" name="normalHolidayPeriod">
                <xsd:annotation>
                  
                </xsd:annotation>
                                                                                                          <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="99"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="23" minOccurs="0" name="autorescheduleafterHolidayPeriod">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                    <xsd:enumeration value="F"/>
                    <xsd:enumeration value="H"/>
                    <xsd:enumeration value="N"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" minOccurs="0" name="holidayPeriodEndDate" type="xsd:boolean">
                <xsd:annotation>
                  
                </xsd:annotation>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" ibmDfdlExtn:sampleValue="12" minOccurs="0" name="noOfInstalments">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="0"/>
                    <xsd:maxInclusive value="99"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="N" minOccurs="0" name="interestDuringHolidayPeriod">
                <xsd:annotation>
                  
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="N"/>
                    <xsd:enumeration value="A"/>
                    <xsd:enumeration value="C"/>
                    <xsd:enumeration value="S"/>
                    <xsd:enumeration value="I"/>
                                                          <xsd:maxLength value="1"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="Y" minOccurs="0" name="holidayInterestFrequencyType">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                                                                                                                                                              <xsd:enumeration value="D"/>
                                        <xsd:enumeration value="F"/>
                                        <xsd:enumeration value="M"/>
                                        <xsd:enumeration value="Q"/>
                                        <xsd:enumeration value="Y"/>
                                        <xsd:enumeration value="H"/>
                                        <xsd:enumeration value="W"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="holidayInterestFrequencyWeekNum">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="1" minOccurs="0" name="holidayInterestFrequencyWeekDay">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                 <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" dfdl:occursCountKind="implicit" dfdl:textNumberPattern="#0" minOccurs="0" name="holidayInterestFrequencyStartDate">
                                                                                          <xsd:annotation/>
                                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                                                 <xsd:element dfdl:occursCountKind="implicit" ibmDfdlExtn:sampleValue="a" minOccurs="0" name="holidayInterestFrequencyHolidayState">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                                                          <xsd:enumeration value="N"/>
                                        <xsd:enumeration value="P"/>
                                    </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
                                                    <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="limitPrefix">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element dfdl:occursCountKind="implicit" minOccurs="0" name="limitSuffix">
                <xsd:annotation>
                  
                </xsd:annotation>
                                              <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                  </xsd:restriction>
                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>