gefu.app/loanDisbursementFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.quantiguous.com/dfdl/loanDisbursementFormat.xsd" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="http://www.quantiguous.com/dfdl/loanDisbursementFormat.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


	<xsd:element ibmSchExtn:docRoot="true" name="loanDisbursementFormat">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
                                								                			                        <xsd:element dfdl:terminator="%NL;" maxOccurs="unbounded" name="records">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="ns0:loanDisbursement"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


    <xsd:element name="loanDisbursement" type="ns0:loanDisbursementType"/>
					<xsd:complexType name="loanDisbursementType">
						<xsd:sequence dfdl:separator="~" dfdl:separatorPosition="postfix" dfdl:separatorSuppressionPolicy="trailingEmpty">
                            														                            						                                                        <xsd:element name="disbursement">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="|">
                    <xsd:element ibmDfdlExtn:sampleValue="809000257175" name="loanAccountNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element dfdl:calendarPattern="dd-MM-yyyy" dfdl:calendarPatternKind="explicit" ibmDfdlExtn:sampleValue="2010-12-31" name="valueDate" type="xsd:date"/>
                    <xsd:element fixed="T" ibmDfdlExtn:sampleValue="T" name="transactionType">
                                                                  <xsd:annotation>
                        <xsd:documentation>Fixed for all</xsd:documentation>
                      </xsd:annotation>
                                            <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="T"/>
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="1"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="0" dfdl:textNumberPattern="#0.###" dfdl:useNilForDefault="no" ibmDfdlExtn:sampleValue="12345678901234.12" minOccurs="1" name="disbursementAmount" nillable="false">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:minExclusive value="0"/>
                                                                            <xsd:totalDigits value="16"/>
                                                                                                    <xsd:fractionDigits value="2"/>
                                                </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ibmDfdlExtn:sampleValue="G" name="disbursementType">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="G"/>
                          <xsd:enumeration value="N"/>
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="1"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" ibmDfdlExtn:sampleValue="Y" name="deductOverdueDemand" type="xsd:boolean"/>
                    <xsd:element dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" ibmDfdlExtn:sampleValue="Y" name="finalDisbursement" type="xsd:boolean"/>
                    <xsd:element ibmDfdlExtn:sampleValue="100010010005661" name="creditAccountNumber">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
                            <xsd:element ibmDfdlExtn:sampleOccurs="3" maxOccurs="unbounded" minOccurs="0" name="charges">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="|" dfdl:separatorSuppressionPolicy="never">
                    <xsd:element ibmDfdlExtn:sampleValue="rec99" name="recordInitiator">
                      <xsd:annotation>
                        
                      </xsd:annotation>
                                                                <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="5"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                                        </xsd:element>
                    <xsd:element dfdl:textBooleanFalseRep="N" dfdl:textBooleanTrueRep="Y" ibmDfdlExtn:sampleValue="Y" name="selectFlag" type="xsd:boolean"/>
                    <xsd:element dfdl:textNumberPattern="#0" ibmDfdlExtn:sampleValue="99" name="serialNumber">
                                                                  <xsd:annotation>
                        
                      <xsd:documentation>Serial No of record, max value can be 99</xsd:documentation>
                      </xsd:annotation>
                                            <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:minInclusive value="1"/>
                                                                            <xsd:maxInclusive value="99"/>
                                                </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element ibmDfdlExtn:sampleValue="MISC1" name="chargeEventType">
                                                                  <xsd:annotation>
                        <xsd:documentation>One of the value from enumerations</xsd:documentation>
                      </xsd:annotation>
                                            <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                                                                                                                                                          <xsd:maxLength value="5"/>
                                                                                                    <xsd:enumeration value="MISC1"/>
                                                    <xsd:enumeration value="MISC2"/>
                                                    <xsd:enumeration value="MISC3"/>
                                                    <xsd:enumeration value="MISC4"/>
                                                    <xsd:enumeration value="MISC5"/>
                                                    <xsd:enumeration value="MISC6"/>
                                                    <xsd:enumeration value="MISC7"/>
                                                    <xsd:enumeration value="MISC8"/>
                                                    <xsd:enumeration value="MISC9"/>
                                                    <xsd:enumeration value="MIS10"/>
                                                    <xsd:enumeration value="MIS11"/>
                                                    <xsd:enumeration value="MIS12"/>
                                                    <xsd:enumeration value="MIS13"/>
                                                    <xsd:enumeration value="MIS14"/>
                                                    <xsd:enumeration value="MIS15"/>
                                                    <xsd:enumeration value="MIS16"/>
                                                    <xsd:enumeration value="MIS18"/>
                                                    <xsd:enumeration value="MIS19"/>
                                                    <xsd:enumeration value="LNKED"/>
                                                </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element dfdl:textNumberPattern="#0.###" ibmDfdlExtn:sampleValue="12345.23" name="chargeAmount">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:decimal">
                          <xsd:minInclusive value="0"/>
                                                                            <xsd:totalDigits value="16"/>
                                                                                                    <xsd:fractionDigits value="2"/>
                                                </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
                        </xsd:sequence>
					</xsd:complexType>
</xsd:schema>