gefu.app/response.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="responseXML">
      <xsd:sequence>
        <xsd:element name="message" type="xsd:string"/>
        <xsd:element name="referenceNumber" type ="xsd:string"/>
      </xsd:sequence>
 	</xsd:complexType>  
 	<xsd:element name="response" type="responseXML"></xsd:element>
</xsd:schema>