sf.app/customer-account.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <xsd:element name="customer-account" type="customer-account-type" />
   <xsd:complexType name="customer-account-type">
      <xsd:sequence>
         <xsd:element name="account-base-sol" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8" />
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="account-close-date" type="xsd:date" minOccurs="1" maxOccurs="1" nillable="true" />
         <xsd:element name="account-number" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="16" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="account-sol-description" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="132" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="account-status" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="ACTIVE"></xsd:enumeration>
            		<xsd:enumeration value="INACTIVE"></xsd:enumeration>
            		<xsd:enumeration value="DORMANT"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="acct-close-flag" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="OPEN"></xsd:enumeration>
            		<xsd:enumeration value="CLOSED"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="acct-status" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="1" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="address" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="200" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="cif-id" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="16" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="city" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="50" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="city-code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="5" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="country" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="50" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="country-code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="5" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="dsb-registration-flag" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="16" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="email-id" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="50" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="freez-status" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:enumeration value="DEBIT FREEZ"></xsd:enumeration>
            		<xsd:enumeration value="CREDIT FREEZ"></xsd:enumeration>
            		<xsd:enumeration value="TOTALFREEZ"></xsd:enumeration>
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="frez-code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="1" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="max-cash-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="max-cash-pkup-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="max-cash-stp-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="max-dd-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="max-dd-stp-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="min-cash-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="min-cash-pkup-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="min-dd-del-amt" minOccurs="1" maxOccurs="1" nillable="true">
	         <xsd:simpleType>
			   <xsd:restriction base="xsd:decimal">
			      <xsd:totalDigits value="16" />
			      <xsd:fractionDigits value="2" />
			   </xsd:restriction>
			</xsd:simpleType>
         </xsd:element>
         <xsd:element name="mobile-no" minOccurs="1" maxOccurs="1">
         	<xsd:simpleType>
         		<xsd:restriction base="xsd:string">
         			<xsd:maxLength value="20"></xsd:maxLength>
         		</xsd:restriction>
         	</xsd:simpleType>
         </xsd:element>
         <xsd:element name="mode-of-oper-code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="5" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="mode-of-operation" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="50" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="name" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="240" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="pan" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="10" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="pin" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="30" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="rm-id" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="8" />
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="scheme-description" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="100" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="scheme-priority" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="1" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="schm-code" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="5" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="segment" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="150" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="segment-priority" minOccurs="1" maxOccurs="1" nillable="true">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="1" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="state" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="50" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="state-code" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="5" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="sub-segment" minOccurs="1" maxOccurs="1">
            <xsd:simpleType>
            	<xsd:restriction base="xsd:string">
            		<xsd:maxLength value="75" />
            	</xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>