sf.app/customer-key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name='customer-key'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="account-type">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="finacle"></xsd:enumeration>
							<xsd:enumeration value="ganaseva"></xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="account-number" type="xsd:string"/>
					<xsd:element name="cif-id" type="xsd:string"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>