sf.app/customer-key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name='customer-key'>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="cif-id" type="xsd:string"/>
				<xsd:element name="cif-type" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>