finacle/loanDisbursement/loanDisbursementRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.finacle.com/fixml" targetNamespace="http://www.finacle.com/fixml" elementFormDefault="qualified">

<xs:include schemaLocation="LoanDisbursementStruct.xsd"/>
<xs:include schemaLocation="../custom/loanDisbursementCustom.xsd"/>

<xs:element name="loanDisbursementRequest">
	<xs:complexType>	
		<xs:sequence>
			<xs:element name="LoanDisbursementStruct" type="LoanDisbursementStruct"/>
			<xs:element name="loanDisbursement_CustomData" type="loanDisbursement_Req_CustomData_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
