gefu.app/Ganaseva/gefuRecordFormat/loanAcctFormat.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:Q1="http://www.quantiguous.com/xmlnsc/loanAcctFormat.xsd"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  targetNamespace="http://www.quantiguous.com/xmlnsc/loanAcctFormat.xsd">

    <xsd:annotation>
		
	</xsd:annotation>


	<xsd:element name="loanAcctFormat">
		<xsd:complexType>
			<xsd:sequence>
                				<xsd:element maxOccurs="unbounded" name="records">
          <xsd:complexType>
            <xsd:sequence>

                			
                                              <xsd:element maxOccurs="1" ref="Q1:loanAcct"/>
                        </xsd:sequence>
          </xsd:complexType>
        </xsd:element>	
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


    <xsd:element name="loanAcct">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EXTERNALLOANNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="EXTERNALCUSTOMERID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="EXTERNAL_GROUPID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="PRODUCT_CODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="AGENTID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="LOANAMOUNT">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="EXPECTEDDISBURSALDATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="LOANSTARTDATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="ORIGINATOR">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="APPROVER">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="COLLECTOR">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="LOANPURPOSE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="PAYMENTMODE" type="xsd:int"/>
							<xsd:element name="NOOFINSTALLMENTS" type="xsd:int"/>
							<xsd:element name="FREQUENCY">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="FIRSTEMIDATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="DAYOFPERIOD">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" name="TARGET_EMI">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="NETINCOME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="SAVINGSACCOUNTNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="HIGHMARKRATING">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="PATNER_RECOMMENDATION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="LOAN_CYCLE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="RECOMMENDED_LOAN">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="JUSTIFICATION_COMMENTS">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="BCPARTNERID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF6">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF7">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF8">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF9">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF10">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF11">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF12">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF13">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF14">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF15">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF16">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF17">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF18">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF19">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF20">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF21">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF22">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF23">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF24">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF25">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF26">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF27">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF28">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF29">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF30">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
</xsd:schema>
