gefu.app/Ganaseva/gefuRecordFormat/savingAccountFormat.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:Q2="http://www.quantiguous.com/xmlnsc/savingAccountFormat.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.quantiguous.com/xmlnsc/savingAccountFormat.xsd">


    <xsd:annotation>
		
	</xsd:annotation>


	<xsd:element name="savingAccountFormat">
		<xsd:complexType>
			<xsd:sequence>
                				<xsd:element maxOccurs="unbounded" name="records">
          <xsd:complexType>
            <xsd:sequence>

                                                                        				                                          <xsd:element ref="Q2:savingAccount"/>
                        </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


    <xsd:element name="savingAccount">
					<xsd:complexType>
						<xsd:sequence>
																					
														<xsd:element name="EXTERNALACCOUNTNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="EXTERNALCUSTOMERID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="ACCOUNTTYPE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="PRODUCTCODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="INITIALDEPOSIT">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="16"/>
                    <xsd:fractionDigits value="4"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="PAYMENTMODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="COMMENTS">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="ORIGINATOR">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="APPROVER">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="COLLECTOR">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="ACCOUNTOPENINGDATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEETITLE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEENAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEADDRESS1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEADDRESS2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEADDRESS3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="RELATION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEDOB">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEAGE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="25"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEGENDER">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEESTATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEECITY">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEPINCODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NOMINEEPANNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="MINOR">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANTITLE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANNAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANDOB">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANGENDER">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANADDR1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANADDR2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANADDR3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANSTATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANCITY">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANRELATION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="256"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANPHNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="GUARDIANPINCODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="BCPARTNERID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF6">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF7">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF8">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF9">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF10">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF11">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF12">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF13">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF14">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF15">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF16">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF17">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF18">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF19">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF20">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF21">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF22">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF23">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF24">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF25">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF26">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF27">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF28">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF29">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="UDF30">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
</xsd:schema>
