finacle/RetCustAdd/RetCustAddResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.finacle.com/fixml" targetNamespace="http://www.finacle.com/fixml" elementFormDefault="qualified">

<xs:include schemaLocation="RetCustAddRs.xsd"/>
<xs:include schemaLocation="../custom/RetCustAddCustom.xsd"/>

<xs:element name="RetCustAddResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="RetCustAddRs" type="RetCustAddRs"/>
			<xs:element name="RetCustAdd_CustomData" type="RetCustAdd_Res_CustomData_Type" minOccurs="0"/>
	  	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>	
