AccountInformationService/AccountInformationService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AccountInformationService" xmlns:tns="http://AccountInformationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalance">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getBalanceRequest" nillable="true" type="tns:getBalanceRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="getBalanceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getBalanceReply" nillable="true" type="tns:getBalanceReplyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:complexType name="getBalanceRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="accountNumber">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="16"/>
            <xsd:whiteSpace value="collapse"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="getBalanceReplyType">
    	<xsd:sequence>
    		<xsd:element name="currency" minOccurs="1" maxOccurs="1">
    			<xsd:simpleType>
    				<xsd:restriction base="xsd:string">
    					<xsd:minLength value="1"></xsd:minLength>
    					<xsd:maxLength value="3"></xsd:maxLength>
    				</xsd:restriction>
    			</xsd:simpleType>
    		</xsd:element>
    		<xsd:element name="effectiveAvailableBalance"
    			type="xsd:double" minOccurs="1" maxOccurs="1">
    		</xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>