bpm.app/inwardClearingValidationReportFormat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="inwardClearingValidationReport">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="">
                											                <xsd:annotation>
          <xsd:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:sequence/>
          </xsd:appinfo>
        </xsd:annotation>
                <xsd:element dfdl:terminator="%NL;" maxOccurs="8" minOccurs="8" name="reportHeader" type="xsd:string"/>
                <xsd:element dfdl:emptyValueDelimiterPolicy="terminator" dfdl:lengthKind="delimited" dfdl:nilValueDelimiterPolicy="terminator" dfdl:terminator="%NL;" maxOccurs="3" minOccurs="0" name="emptyLine" type="xsd:string"/>
                <xsd:element dfdl:terminator="%NL;" name="recordHeader" type="xsd:string"/>
                                                                                                  <xsd:element maxOccurs="unbounded" name="record">
          <xsd:complexType>
            <xsd:choice>
              <xsd:element dfdl:initiator="%SP;" dfdl:terminator="%NL;" minOccurs="1" name="exception" type="xsd:string"/>
              <xsd:element dfdl:lengthKind="implicit" dfdl:terminator="%NL;" name="account">
                <xsd:complexType>
                  <xsd:sequence dfdl:separator="|" dfdl:separatorPosition="postfix">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <xsd:element name="accountSol">
                      <xsd:complexType>
                        <xsd:sequence dfdl:separator="">
                          <xsd:element dfdl:initiator="%#x0c;" dfdl:length="1" dfdl:lengthKind="explicit" minOccurs="0" name="formFeed" type="xsd:string"/>
                          <xsd:element name="accountSolID" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                                        <xsd:element name="accountNumber" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="accountName" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="schemeCode" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="segment" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="subSegment" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="chequeNumber" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="chequeAmount" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="exceptionCode" type="xsd:string"/>
                                                                                                                                                                                                                                                                    <xsd:element name="rmCode" type="xsd:string"/>
                                                                                                                                                                                                                                                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
                                        </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>