vplus.app/EXAT.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.quantiguous.com/dfdl/vplus/EXATFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="http://www.quantiguous.com/dfdl/vplus/exat" xmlns:ns1="http://www.quantiguous.com/dfdl/vplus/EXATFormat" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recFixLengthFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat" separatorSuppressionPolicy="anyEmpty"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" dfdl:ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat" dfdl:terminator="" ibmSchExtn:docRoot="true" name="EXAT">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;">
                				<xsd:element dfdl:lengthKind="implicit" name="header">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="HDR" name="IDENTIFIER" type="xsd:string"/>
              <xsd:element dfdl:calendarPattern="yyyyMMdd" dfdl:calendarPatternKind="explicit" dfdl:length="8" dfdl:textPadKind="padChar" name="DATE" type="xsd:date"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
                <xsd:element dfdl:lengthKind="delimited" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="000" name="ORG" type="xsd:int"/>
							<xsd:element dfdl:length="19" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" name="ACCOUNT" type="xsd:string"/>
							<xsd:element dfdl:length="5" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="11111" name="REC_NO" type="xsd:int"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="LOGO" type="xsd:int"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="C" name="TYPE" type="xsd:string"/>
                                                                                    <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" name="TXN_DATE" type="xsd:date"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="C" name="MT_TYPE" type="xsd:string"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="TXN_CODE" type="xsd:int"/>
                            <xsd:element dfdl:length="17" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="AMOUNT" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="A" name="F1" type="xsd:string"/>
                            <xsd:element dfdl:length="17" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="UNIT_PRICE" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="a" name="F2" type="xsd:string"/>
                            <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" dfdl:ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat" dfdl:textPadKind="padChar" name="BATCH_DT" type="xsd:date"/>
                            <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" dfdl:textPadKind="padChar" name="POST_DATE" type="xsd:date"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="QUANTITY" type="xsd:int"/>
                            <xsd:element dfdl:length="6" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="121311" name="AUTHCODE" type="xsd:string"/>
                            <xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="AAA" name="MT_SI_ORG" type="xsd:string"/>
                            <xsd:element dfdl:length="9" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="1112aasd" name="MT_SI_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="5" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="80012" name="PLAN" type="xsd:string"/>
                            <xsd:element dfdl:length="12" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="KAKA" name="SALESPERSO" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="000" name="TKT_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="16" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="00976976" name="PURCH_NUM" type="xsd:string"/>
                            <xsd:element dfdl:length="15" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="KJHGK876" name="PMT_REF_NO" type="xsd:string"/>
                            <xsd:element dfdl:length="5" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="JHG97" name="ITEM_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="23" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="KHJGKHG9786976" name="REF_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="23" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value26" name="MERCHANT" type="xsd:string"/>
                            <xsd:element dfdl:length="14" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value27" name="CITY" type="xsd:string"/>
                            <xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="IND" name="COUNTRY" type="xsd:string"/>
                            <xsd:element dfdl:length="10" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="80008" name="PLAN_OPEN" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="A" name="INPUT_SRC" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="B" name="MULT_REF" type="xsd:string"/>
                            <xsd:element dfdl:length="9" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="FSP" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="W" name="FSP_PRG_NO" type="xsd:string"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="MERCH_ORG" type="xsd:int"/>
                            <xsd:element dfdl:length="9" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="MERCH_STOR" type="xsd:int"/>
                            <xsd:element dfdl:length="5" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="CAT_CODE" type="xsd:int"/>
                            <xsd:element dfdl:length="5" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="ABCDE" name="PROD_GRP" type="xsd:string"/>
                            <xsd:element dfdl:length="9" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="GH87" name="SKU_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="2" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="LOGIC_MOD" type="xsd:int"/>
                            <xsd:element dfdl:length="14" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value40" name="RPT_DESC" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="1" name="GL_SOURCE" type="xsd:int"/>
                            <xsd:element dfdl:length="4" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="BODY" name="DEPT" type="xsd:string"/>
                            <xsd:element dfdl:length="5" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="SOURCE" type="xsd:int"/>
                            <xsd:element dfdl:length="5" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="BATCH_NO" type="xsd:int"/>
                            <xsd:element dfdl:length="5" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="BATCH_SEQ" type="xsd:int"/>
                            <xsd:element dfdl:length="2" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="PLAN_SEQ" type="xsd:int"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="SORT_PRIOR" type="xsd:int"/>
                            <xsd:element dfdl:length="2" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="POST_FLAG" type="xsd:int"/>
                            <xsd:element dfdl:length="13" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value49" name="VISATRANID" type="xsd:string"/>
                            <xsd:element dfdl:length="9" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="ICHNG_FEE" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="QUAL_ID" type="xsd:int"/>
                            <xsd:element dfdl:escapeSchemeRef="recFixLengthFieldsFmt:RecordEscapeScheme" dfdl:length="19" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" name="CARD_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="5" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="34231" name="CARD_SEQ" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="N" name="CARD_BLK" type="xsd:string"/>
                            <xsd:element dfdl:length="2" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="BB" name="INS_PROD" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="1" name="ACT_TERM" type="xsd:string"/>
                            <xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="FOREX_CD" type="xsd:int"/>
                            <xsd:element dfdl:length="17" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="RELPMT_AMT" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="A" name="F3" type="xsd:string"/>
                            <xsd:element dfdl:length="17" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" name="ORIG_PYMT" type="xsd:decimal"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="D" name="F4" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="N" name="STMT_FLAG" type="xsd:string"/>
                            <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" dfdl:nilKind="literalCharacter" dfdl:nilValue="%SP;" dfdl:textPadKind="padChar" dfdl:useNilForDefault="yes" name="SOU_TXN_DT" nillable="true" type="xsd:date"/>
                            <xsd:element dfdl:length="30" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="MUMBAI" name="C_CITY" type="xsd:string"/>
                            <xsd:element dfdl:length="30" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="IND" name="C_COUNTRY" type="xsd:string"/>
                            <xsd:element dfdl:length="18" dfdl:nilKind="literalCharacter" dfdl:nilValue="%SP;" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" dfdl:useNilForDefault="yes" name="SOU_TXN_AM" nillable="true" type="xsd:decimal"/>
                            <xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="INR" name="CURRY_CODE" type="xsd:string"/>
                            <xsd:element dfdl:length="23" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="body_value68" name="C_ARN" type="xsd:string"/>
                            <xsd:element dfdl:length="8" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="JJJJ" name="A_AQR_BIN" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="C" name="C_RECORD_TYPE" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                				                                <xsd:element dfdl:lengthKind="delimited" dfdl:terminator="%NL;" name="trailer"> 
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="TLR" name="IDENTIFIER" type="xsd:string"/>
							<xsd:element dfdl:length="9" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="COUNT" type="xsd:int"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                			                        </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>