vplus.app/EXBS.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.quantiguous.com/dfdl/vplus/EXBSFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:ns0="http://www.quantiguous.com/dfdl/vplus/EXBSFormat" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format byteOrder="{$dfdl:byteOrder}" encoding="{$dfdl:encoding}" escapeSchemeRef="recFixLengthFieldsFmt:RecordEscapeScheme" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat" separatorSuppressionPolicy="anyEmpty"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="EXBS">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;">
				<xsd:element dfdl:lengthKind="implicit" dfdl:terminator="" name="header">
					<xsd:complexType>
						<xsd:sequence dfdl:terminator="">
							<xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="HDR" name="IDENTIFIER" type="xsd:string"/>
							<xsd:element dfdl:calendarPattern="yyyyMMdd" dfdl:calendarPatternKind="explicit" dfdl:length="8" dfdl:terminator="" dfdl:textPadKind="padChar" name="DATE" type="xsd:date"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:lengthKind="implicit" dfdl:occursCountKind="implicit" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
							<xsd:element dfdl:length="3" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="3" name="ORG" type="xsd:int"/>
							<xsd:element dfdl:length="19" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" ibmDfdlExtn:sampleValue="97869476134" name="ACCOUNT_NO" type="xsd:string"/>
							<xsd:element dfdl:length="3" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING1" name="CHANNEL" type="xsd:string"/>
                                                        <xsd:element dfdl:length="4" name="CHAN_PART" type="xsd:string"/>
                            <xsd:element dfdl:length="4" name="CHAN_EXEC" type="xsd:string"/>
                            <xsd:element dfdl:length="3" name="CHAN_SNO" type="xsd:string"/>
                            <xsd:element dfdl:length="4" name="SUPERPROMO" type="xsd:string"/>
                            <xsd:element dfdl:length="4" name="PROMO" type="xsd:string"/>
                            <xsd:element dfdl:length="2" name="CITYCODE" type="xsd:string"/>
                            <xsd:element dfdl:length="2" name="REGNCODE" type="xsd:string"/>
                            <xsd:element dfdl:length="20" dfdl:textPadKind="padChar" dfdl:textStringJustification="center" name="USER1" type="xsd:string"/>
                            <xsd:element dfdl:fillByte="9" dfdl:length="9" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="999" name="BR_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="20" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING2" name="APPROVER" type="xsd:string"/>
                                                        <xsd:element dfdl:length="19" dfdl:textPadKind="padChar" name="APPREFNO" type="xsd:string"/>
                            <xsd:element dfdl:length="18" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="50000" name="CRLIMIT" type="xsd:decimal"/>
                            <xsd:element dfdl:length="18" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0.###" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="50000" name="TEMPLIMIT" type="xsd:decimal"/>
                            <xsd:element dfdl:length="19" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" ibmDfdlExtn:sampleValue="23847652435" name="CUST_NBR" type="xsd:string"/>
                            <xsd:element dfdl:length="10" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING3" name="DT_CRD_FEE" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="A" name="INT_STATUS" type="xsd:string"/>
                                                    <xsd:element dfdl:length="43" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING4" name="STRING4" type="xsd:string"/>
                            <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" dfdl:textPadKind="padChar" name="DT_OPENED" type="xsd:date"/>
                            <xsd:element dfdl:calendarPattern="dd/MM/yyyy" dfdl:calendarPatternKind="explicit" dfdl:length="10" dfdl:textPadKind="padChar" name="DT_CLOSED" type="xsd:date"/>
                            <xsd:element dfdl:length="12" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING5" name="STRING5" type="xsd:string"/>
                            <xsd:element dfdl:length="2" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="23" name="BILL_CYC" type="xsd:int"/>
                            <xsd:element dfdl:length="11" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" ibmDfdlExtn:sampleValue="STRING6" name="STRING6" type="xsd:string"/>
                                                        <xsd:element dfdl:length="1" name="BC1" type="xsd:string"/>
                            <xsd:element dfdl:length="10" name="DT_BC1" type="xsd:string"/>
                            <xsd:element dfdl:length="1" name="BC2" type="xsd:string"/>
                            <xsd:element dfdl:length="10" name="DT_BC2" type="xsd:string"/>
                            <xsd:element dfdl:length="1183" name="STRING7" type="xsd:string"/>
                            <xsd:element dfdl:length="1" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="1" name="PMT_CYCLE" type="xsd:int"/>
                            <xsd:element dfdl:length="767" dfdl:textPadKind="padChar" dfdl:textStringJustification="center" ibmDfdlExtn:sampleValue="STRING7" name="STRING8" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:lengthKind="implicit" name="trailer"> 
					<xsd:complexType>
						<xsd:sequence dfdl:terminator="%NL;">
							<xsd:element dfdl:length="3" dfdl:textPadKind="padChar" ibmDfdlExtn:sampleValue="TLR" name="IDENTIFIER" type="xsd:string"/>
							<xsd:element dfdl:length="9" dfdl:textNumberPadCharacter="0" dfdl:textNumberPattern="#0" dfdl:textPadKind="padChar" name="COUNT" type="xsd:int"/>
													</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                			            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>