vplus.app/localEnvironmentVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="flag_processed" type="xsd:boolean"/>
	<xsd:element name="remarks" type="xsd:string"/>
	<xsd:element name="loanAmount" type="xsd:decimal"/>
	<xsd:element name="transactionDate" type="xsd:date"/>
	<xsd:element name="cardNumber" type="xsd:string"/>
	<xsd:element name="authcode" type="xsd:string"/>
</xsd:schema>