finacle/LoanAcctAdd/LoanAcctAddResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.finacle.com/fixml" targetNamespace="http://www.finacle.com/fixml" elementFormDefault="qualified">

<xs:include schemaLocation="LoanAcctAddRs.xsd"/>
<xs:include schemaLocation="../custom/LoanAcctAddCustom.xsd"/>

<xs:element name="LoanAcctAddResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="LoanAcctAddRs" type="LoanAcctAddRs"/>
			<xs:element name="LoanAcctAdd_CustomData" type="LoanAcctAdd_Res_CustomData_Type" minOccurs="0"/>
	  	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>	
