finacle/LoanAcctAdd/LoanAcctAddRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.finacle.com/fixml" targetNamespace="http://www.finacle.com/fixml" elementFormDefault="qualified">

<xs:include schemaLocation="LoanAcctAddRq.xsd"/>
<xs:include schemaLocation="../custom/LoanAcctAddCustom.xsd"/>

<xs:element name="LoanAcctAddRequest">
	<xs:complexType>	
		<xs:sequence>
			<xs:element name="LoanAcctAddRq" type="LoanAcctAddRq"/>
			<xs:element name="LoanAcctAdd_CustomData" type="LoanAcctAdd_Req_CustomData_Type" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
