equifax/equifax.localEnvironmentVariables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CustomerId" type="xsd:int"/>
	<xsd:element name="UserId" type="xsd:string"/>
	<xsd:element name="Password" type="xsd:string"/>
	<xsd:element name="MemberNumber" type="xsd:string"/>
	<xsd:element name="SecurityCode" type="xsd:string"/>
</xsd:schema>