equifax/verifyId.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://services.equifax.com/eport/ws/schemas/1.0" xmlns:tns="http://services.equifax.com/eport/ws/schemas/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="idRequest">
<xsd:sequence>
<xsd:element minOccurs="0" name="requestHeader" type="tns:requestHeader"/>
<xsd:element minOccurs="0" name="requestBody" type="tns:requestBody"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="requestHeader">
<xsd:sequence>
<xsd:element minOccurs="0" name="custRefField" type="xsd:string"/>
<xsd:element name="customerId" type="xsd:int"/>
<xsd:element minOccurs="0" name="memberNumber" type="xsd:string"/>
<xsd:element minOccurs="0" name="reportFormat" type="xsd:string"/>
<xsd:element minOccurs="0" name="userId" type="xsd:string"/>
<xsd:element minOccurs="0" name="requestDate" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="requestBody">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidNsdlRequest" nillable="true" type="tns:nsdlRequest"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidUidaiRequest" nillable="true" type="tns:uidaiRequest"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidVoterRequest" nillable="true" type="tns:voterRequest"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="nsdlRequest">
<xsd:complexContent>
<xsd:extension base="tns:request">
<xsd:sequence>
<xsd:element minOccurs="0" name="PANNumber" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="request">
<xsd:sequence>
<xsd:element minOccurs="0" name="source" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="uidaiRequest">
<xsd:complexContent>
<xsd:extension base="tns:request">
<xsd:sequence>
<xsd:element minOccurs="0" name="UIDAI" type="xsd:string"/>
<xsd:element minOccurs="0" name="name" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="voterRequest">
<xsd:complexContent>
<xsd:extension base="tns:request">
<xsd:sequence>
<xsd:element minOccurs="0" name="voterId" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="idResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="responseHeader" type="tns:responseHeader"/>
<xsd:element minOccurs="0" name="responseBody" type="tns:responseBody"/>
<xsd:element minOccurs="0" name="fault" type="tns:verifyIdServiceFault"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseHeader">
<xsd:sequence>
<xsd:element minOccurs="0" name="custRefField" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="responseBody">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidNsdlResponses" nillable="true" type="tns:vidNsdlResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidUidaiResponses" nillable="true" type="tns:vidUidaiResponse"/>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="vidVoterResponses" nillable="true" type="tns:vidVoterResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="vidNsdlResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="nsdlRequest" type="tns:nsdlRequest"/>
<xsd:element minOccurs="0" name="nsdlResponse" type="tns:nsdlResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="nsdlResponse">
<xsd:complexContent>
<xsd:extension base="tns:response">
<xsd:sequence>
<xsd:element name="nsdlRespId" type="xsd:long"/>
<xsd:element minOccurs="0" name="PAN" type="xsd:string"/>
<xsd:element minOccurs="0" name="PANStatus" type="xsd:string"/>
<xsd:element minOccurs="0" name="title" type="xsd:string"/>
<xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
<xsd:element minOccurs="0" name="middleName" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
<xsd:element minOccurs="0" name="lastUpdatedDate" type="xsd:string"/>
<xsd:element minOccurs="0" name="origNSDLResponse" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="response">
<xsd:sequence>
<xsd:element minOccurs="0" name="returnCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="returnCodeDesc" type="xsd:string"/>
<xsd:element minOccurs="0" name="runDateTime" type="xsd:dateTime"/>
<xsd:element minOccurs="0" name="errorRespMessage" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="vidUidaiResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="uidaiRequest" type="tns:uidaiRequest"/>
<xsd:element minOccurs="0" name="uidaiResponse" type="tns:uidaiResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="uidaiResponse">
<xsd:complexContent>
<xsd:extension base="tns:response">
<xsd:sequence>
<xsd:element minOccurs="0" name="uidaiResponse" type="xsd:string"/>
<xsd:element minOccurs="0" name="nameResponse" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="vidVoterResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="voterRequest" type="tns:voterRequest"/>
<xsd:element minOccurs="0" name="voterResponse" type="tns:voterResponse"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="voterResponse">
<xsd:complexContent>
<xsd:extension base="tns:response">
<xsd:sequence>
<xsd:element minOccurs="0" name="voterId" type="xsd:string"/>
<xsd:element minOccurs="0" name="voterResponse" type="xsd:string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="verifyIdServiceFault">
<xsd:sequence>
<xsd:element minOccurs="0" name="faultCode" type="xsd:string"/>
<xsd:element minOccurs="0" name="faultString" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>