AccountOpeningService/AccountOpeningService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AccountOpeningService" 
	xmlns:dt="http://www.quantiguous.com/xmlnsc/dataTypes.xsd" 
	xmlns:group="http://www.quantiguous.com/xmlnsc/groupFormat.xsd" 
	xmlns:center="http://www.quantiguous.com/xmlnsc/centerFormat.xsd" 
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" 
	xmlns:tns="http://AccountOpeningService" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.quantiguous.com/xmlnsc/dataTypes.xsd" schemaLocation="dataTypes.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/xmlnsc/groupFormat.xsd" schemaLocation="group.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/xmlnsc/centerFormat.xsd" schemaLocation="center.xsd"/>
	
	<xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountRequest" nillable="true" type="tns:openGroupLoanAccountRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccountResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountReply" nillable="true" type="tns:openGroupLoanAccountReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="openGroupLoanAccountRequestType">
		<xsd:sequence>
			<xsd:element name="originator" type="dt:userNameType"/>
			<xsd:element name="approver" type="dt:userNameType"/>		
			<xsd:element maxOccurs="1" minOccurs="1" ref="group:group"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="openGroupLoanAccountReplyType"/>
	<xsd:element ibmSchExtn:docRoot="true" name="getJobStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusRequest" nillable="true" type="tns:getJobStatusRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="getJobStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusReply" nillable="true" type="tns:getJobStatusReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getJobStatusRequestType"/>
	<xsd:complexType name="getJobStatusReplyType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="addCenter">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="addCenterRequest" nillable="true" type="tns:addCenterRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="addCenterResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="addCenterReply" nillable="true" type="tns:addCenterReplyType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:complexType name="addCenterRequestType">
    	<xsd:sequence>
    		<xsd:element maxOccurs="1" minOccurs="1" ref="center:center"/>
    	</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="addCenterReplyType"/>
</xsd:schema>