AccountOpeningService/AccountOpeningService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AccountOpeningService" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://AccountOpeningService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="openGroupLoanAccountRequest" nillable="true" type="tns:openGroupLoanAccountRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="openGroupLoanAccountReply" nillable="true" type="tns:openGroupLoanAccountReplyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:complexType name="openGroupLoanAccountRequestType"/>
    <xsd:complexType name="openGroupLoanAccountReplyType"/>
    <xsd:element ibmSchExtn:docRoot="true" name="getJobStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getJobStatusRequest" nillable="true" type="tns:getJobStatusRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="getJobStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="getJobStatusReply" nillable="true" type="tns:getJobStatusReplyType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:complexType name="getJobStatusRequestType"/>
    <xsd:complexType name="getJobStatusReplyType"/>
</xsd:schema>