AccountOpeningService/AccountOpeningService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="AccountOpeningService" targetNamespace="http://AccountOpeningService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://AccountOpeningService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="AccountOpeningService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="AccountOpeningServiceHttpBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://AccountOpeningService">
            <xsd:include schemaLocation="AccountOpeningService_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="openGroupLoanAccountRequestMsg">
    <wsdl:part element="tns:openGroupLoanAccount" name="openGroupLoanAccountParameters"/>
  </wsdl:message>
  <wsdl:message name="openGroupLoanAccountResponseMsg">
    <wsdl:part element="tns:openGroupLoanAccountResponse" name="openGroupLoanAccountResult"/>
  </wsdl:message>
    <wsdl:message name="getJobStatusRequestMsg">
    <wsdl:part element="tns:getJobStatus" name="getJobStatusParameters"/>
  </wsdl:message>
    <wsdl:message name="getJobStatusResponseMsg">
    <wsdl:part element="tns:getJobStatusResponse" name="getJobStatusResult"/>
  </wsdl:message>
    <wsdl:message name="addCenterRequestMsg">
    <wsdl:part element="tns:addCenter" name="addCenterParameters"/>
  </wsdl:message>
    <wsdl:message name="addCenterResponseMsg">
    <wsdl:part element="tns:addCenterResponse" name="addCenterResult"/>
  </wsdl:message>
    <wsdl:message name="processGroupLoanApplicationRequestMsg">
    <wsdl:part element="tns:processGroupLoanApplication" name="processGroupLoanApplicationParameters"/>
  </wsdl:message>
    <wsdl:message name="processGroupLoanApplicationResponseMsg">
    <wsdl:part element="tns:processGroupLoanApplicationResponse" name="processGroupLoanApplicationResult"/>
  </wsdl:message>
    <wsdl:message name="getConsumerCreditReportRequestMsg">
    <wsdl:part element="tns:getConsumerCreditReport" name="getConsumerCreditReportParameters"/>
  </wsdl:message>
    <wsdl:message name="getConsumerCreditReportResponseMsg">
    <wsdl:part element="tns:getConsumerCreditReportResponse" name="getConsumerCreditReportResult"/>
  </wsdl:message>
    <wsdl:message name="openRetailLoanAccountRequestMsg">
    <wsdl:part element="tns:openRetailLoanAccount" name="openRetailLoanAccountParameters"/>
  </wsdl:message>
    <wsdl:message name="openRetailLoanAccountResponseMsg">
    <wsdl:part element="tns:openRetailLoanAccountResponse" name="openRetailLoanAccountResult"/>
  </wsdl:message>
    <wsdl:message name="getApplicationStatusRequestMsg">
    <wsdl:part element="tns:getApplicationStatus" name="getApplicationStatusParameters"/>
  </wsdl:message>
    <wsdl:message name="getApplicationStatusResponseMsg">
    <wsdl:part element="tns:getApplicationStatusResponse" name="getApplicationStatusResult"/>
  </wsdl:message>
    <wsdl:message name="uploadCustomerDocumentRequestMsg">
    <wsdl:part element="tns:uploadCustomerDocument" name="uploadCustomerDocumentParameters"/>
  </wsdl:message>
    <wsdl:message name="uploadCustomerDocumentResponseMsg">
    <wsdl:part element="tns:uploadCustomerDocumentResponse" name="uploadCustomerDocumentResult"/>
  </wsdl:message>
    <wsdl:portType name="AccountOpeningService">
    <wsdl:operation name="openGroupLoanAccount">
      <wsdl:input message="tns:openGroupLoanAccountRequestMsg" name="openGroupLoanAccountRequest"/>
      <wsdl:output message="tns:openGroupLoanAccountResponseMsg" name="openGroupLoanAccountResponse"/>
    </wsdl:operation>
        <wsdl:operation name="getJobStatus">
      <wsdl:input message="tns:getJobStatusRequestMsg" name="getJobStatusRequest"/>
      <wsdl:output message="tns:getJobStatusResponseMsg" name="getJobStatusResponse"/>
    </wsdl:operation>
        <wsdl:operation name="addCenter">
      <wsdl:input message="tns:addCenterRequestMsg" name="addCenterRequest"/>
      <wsdl:output message="tns:addCenterResponseMsg" name="addCenterResponse"/>
    </wsdl:operation>
        <wsdl:operation name="processGroupLoanApplication">
      <wsdl:input message="tns:processGroupLoanApplicationRequestMsg" name="processGroupLoanApplicationRequest"/>
      <wsdl:output message="tns:processGroupLoanApplicationResponseMsg" name="processGroupLoanApplicationResponse"/>
    </wsdl:operation>
        <wsdl:operation name="getConsumerCreditReport">
      <wsdl:input message="tns:getConsumerCreditReportRequestMsg" name="getConsumerCreditReportRequest"/>
      <wsdl:output message="tns:getConsumerCreditReportResponseMsg" name="getConsumerCreditReportResponse"/>
    </wsdl:operation>
        <wsdl:operation name="openRetailLoanAccount">
      <wsdl:input message="tns:openRetailLoanAccountRequestMsg" name="openRetailLoanAccountRequest"/>
      <wsdl:output message="tns:openRetailLoanAccountResponseMsg" name="openRetailLoanAccountResponse"/>
    </wsdl:operation>
        <wsdl:operation name="getApplicationStatus">
      <wsdl:input message="tns:getApplicationStatusRequestMsg" name="getApplicationStatusRequest"/>
      <wsdl:output message="tns:getApplicationStatusResponseMsg" name="getApplicationStatusResponse"/>
    </wsdl:operation>
        <wsdl:operation name="uploadCustomerDocument">
      <wsdl:input message="tns:uploadCustomerDocumentRequestMsg" name="uploadCustomerDocumentRequest"/>
      <wsdl:output message="tns:uploadCustomerDocumentResponseMsg" name="uploadCustomerDocumentResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="AccountOpeningServiceHttpBinding" type="tns:AccountOpeningService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getJobStatus">
            <soap:operation soapAction="http://AccountOpeningService/getJobStatus"/>
            <wsdl:input name="getJobStatusRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getJobStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="openGroupLoanAccount">
            <soap:operation soapAction="http://AccountOpeningService/openGroupLoanAccount"/>
            <wsdl:input name="openGroupLoanAccountRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="openGroupLoanAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="addCenter">
            <soap:operation soapAction="http://AccountOpeningService/addCenter"/>
            <wsdl:input name="addCenterRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="addCenterResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="processGroupLoanApplication">
            <soap:operation soapAction="http://AccountOpeningService/processGroupLoanApplication"/>
            <wsdl:input name="processGroupLoanApplicationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="processGroupLoanApplicationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="getConsumerCreditReport">
            <soap:operation soapAction="http://AccountOpeningService/getConsumerCreditReport"/>
            <wsdl:input name="getConsumerCreditReportRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getConsumerCreditReportResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="openRetailLoanAccount">
            <soap:operation soapAction="http://AccountOpeningService/openRetailLoanAccount"/>
            <wsdl:input name="openRetailLoanAccountRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="openRetailLoanAccountResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="getApplicationStatus">
            <soap:operation soapAction="http://AccountOpeningService/getApplicationStatus"/>
            <wsdl:input name="getApplicationStatusRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getApplicationStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="uploadCustomerDocument">
      <soap:operation soapAction="http://AccountOpeningService/uploadCustomerDocument"/>
      <wsdl:input name="uploadCustomerDocumentRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCustomerDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="AccountOpeningServiceHttpService">
    <wsdl:port binding="tns:AccountOpeningServiceHttpBinding" name="AccountOpeningServiceHttpPort">
      <soap:address location="http://localhost:7800/AccountOpeningService/AccountOpeningService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>