AccountOpeningService/AccountOpeningService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="AccountOpeningService" targetNamespace="http://AccountOpeningService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://AccountOpeningService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <wsdl:appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="AccountOpeningService_InlineSchema1.xsd"/>
        <binding hasEncoding="false" imported="true" name="AccountOpeningServiceHttpBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </wsdl:appinfo>
  </wsdl:documentation>
  
  
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://AccountOpeningService">
      <xsd:include schemaLocation="AccountOpeningService_InlineSchema1.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="openGroupLoanAccountRequestMsg">
    <wsdl:part element="tns:openGroupLoanAccount" name="openGroupLoanAccountParameters"/>
  </wsdl:message>
  <wsdl:message name="openGroupLoanAccountResponseMsg">
    <wsdl:part element="tns:openGroupLoanAccountResponse" name="openGroupLoanAccountResult"/>
  </wsdl:message>
    <wsdl:message name="getJobStatusRequestMsg">
    <wsdl:part element="tns:getJobStatus" name="getJobStatusParameters"/>
  </wsdl:message>
    <wsdl:message name="getJobStatusResponseMsg">
    <wsdl:part element="tns:getJobStatusResponse" name="getJobStatusResult"/>
  </wsdl:message>
    <wsdl:portType name="AccountOpeningService">
    <wsdl:operation name="openGroupLoanAccount">
      <wsdl:input message="tns:openGroupLoanAccountRequestMsg" name="openGroupLoanAccountRequest"/>
      <wsdl:output message="tns:openGroupLoanAccountResponseMsg" name="openGroupLoanAccountResponse"/>
    </wsdl:operation>
        <wsdl:operation name="getJobStatus">
      <wsdl:input message="tns:getJobStatusRequestMsg" name="getJobStatusRequest"/>
      <wsdl:output message="tns:getJobStatusResponseMsg" name="getJobStatusResponse"/>
    </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="AccountOpeningServiceHttpBinding" type="tns:AccountOpeningService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getJobStatus">
            <soap:operation soapAction="http://AccountOpeningService/getJobStatus"/>
            <wsdl:input name="getJobStatusRequest">
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output name="getJobStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="openGroupLoanAccount">
      <soap:operation soapAction="http://AccountOpeningService/openGroupLoanAccount"/>
      <wsdl:input name="openGroupLoanAccountRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="openGroupLoanAccountResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="AccountOpeningServiceHttpService">
    <wsdl:port binding="tns:AccountOpeningServiceHttpBinding" name="AccountOpeningServiceHttpPort">
      <soap:address location="http://localhost:7800/AccountOpeningService/AccountOpeningService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>