AccountOpeningService/AccountOpeningService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://AccountOpeningService"
	xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions"
	xmlns:tns="http://AccountOpeningService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dt="http://www.quantiguous.com/xmlnsc/dataTypes.xsd"
	xmlns:customer="http://www.quantiguous.com/xmlnsc/customerHandOffFormat.xsd"
	xmlns:center="http://www.quantiguous.com/xmlnsc/centerFormat.xsd"
	xmlns:group="http://www.quantiguous.com/xmlnsc/groupFormat.xsd"
	xmlns:loanDisbursal="http://www.quantiguous.com/xmlnsc/loanDisbursalFormat.xsd"
	xmlns:savingAccount="http://www.quantiguous.com/xmlnsc/savingAccountFormat.xsd" 
	xmlns:loanAccount="http://www.quantiguous.com/xmlnsc/loanAcctFormat.xsd">

	<xsd:import namespace="http://www.quantiguous.com/xmlnsc/dataTypes.xsd" schemaLocation="dataTypes.xsd"/>

	<xsd:import schemaLocation="customerHandOffFormat.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/customerHandOffFormat.xsd" />

	<xsd:import schemaLocation="centerFormat.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/centerFormat.xsd">
	</xsd:import>

	<xsd:import schemaLocation="groupFormat.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/groupFormat.xsd">
	</xsd:import>
	
	<xsd:import schemaLocation="loanDisbursalFormat.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/loanDisbursalFormat.xsd">
	</xsd:import>
	<xsd:import schemaLocation="savingAccountFormat.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/savingAccountFormat.xsd">
	</xsd:import>
	<xsd:import schemaLocation="loanAcctFormat.xsd" namespace="http://www.quantiguous.com/xmlnsc/loanAcctFormat.xsd"></xsd:import>
	
	<xsd:element ibmSchExtn:docRoot="true"
		name="openGroupLoanAccount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountRequest"
					nillable="true" type="tns:openGroupLoanAccountRequestType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true"
		name="openGroupLoanAccountResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountReply"
					nillable="true" type="tns:openGroupLoanAccountReplyType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="openGroupLoanAccountRequestType">
		<xsd:sequence>
			<xsd:element name="bcPartnerID" />
			<xsd:element name="originator" type="dt:userNameType"/>
			<xsd:element name="approver" type="dt:userNameType"/>
		
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="center:center" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="customer:customer" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="group:group" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="loanAccount:loanAcct" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="loanDisbursal:loanDisbursal" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				ref="savingAccount:savingAccount" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="openGroupLoanAccountReplyType" />
	<xsd:element ibmSchExtn:docRoot="true" name="getJobStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusRequest" nillable="true"
					type="tns:getJobStatusRequestType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true"
		name="getJobStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusReply" nillable="true"
					type="tns:getJobStatusReplyType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getJobStatusRequestType" />
	<xsd:complexType name="getJobStatusReplyType" />
</xsd:schema>