AccountOpeningService/AccountOpeningService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AccountOpeningService" xmlns:center="http://www.quantiguous.com/FI/center.xsd" xmlns:cr="http://www.quantiguous.com/FI/creditRating.xsd" xmlns:dt="http://www.quantiguous.com/FI/dataTypes.xsd" xmlns:ge="http://www.quantiguous.com/FI/globalElements.xsd" xmlns:group="http://www.quantiguous.com/FI/group.xsd" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://AccountOpeningService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.quantiguous.com/FI/dataTypes.xsd" schemaLocation="dataTypes.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/FI/group.xsd" schemaLocation="group.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/FI/center.xsd" schemaLocation="center.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/FI/globalElements.xsd" schemaLocation="globalElements.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/FI/creditRating.xsd" schemaLocation="creditRating.xsd"/>

	<xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountRequest" nillable="true" type="tns:openGroupLoanAccountRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="openGroupLoanAccountResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openGroupLoanAccountReply" nillable="true" type="tns:openGroupLoanAccountReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="openGroupLoanAccountRequestType">
		<xsd:sequence>
			<xsd:element name="originator" type="dt:userNameType"/>
			<xsd:element name="approver" type="dt:userNameType"/>
			<xsd:element maxOccurs="1" minOccurs="1" ref="group:customerGroup"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="jobKeyType">
		<xsd:sequence>
			<xsd:element name="batchID" type="xsd:string"/>
			<xsd:element name="externalID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="openGroupLoanAccountReplyType">
		<xsd:sequence>
			<xsd:element name="jobKey" type="xsd:string"/>
			<xsd:element maxOccurs="1" name="groupJobKey" type="tns:jobKeyType"/>
			<xsd:element maxOccurs="6" name="customerJobKey" type="tns:jobKeyType"/>
			<xsd:element maxOccurs="6" name="savingAccountJobKey" type="tns:jobKeyType"/>
			<xsd:element maxOccurs="6" name="loanAccountJobKey" type="tns:jobKeyType"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element ibmSchExtn:docRoot="true" name="getJobStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusRequest" nillable="true" type="tns:getJobStatusRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="getJobStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getJobStatusReply" nillable="true" type="tns:getJobStatusReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getJobStatusRequestType">
		<xsd:sequence>
			<xsd:element name="jobName">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="openGroupLoanAccount"/>
						<xsd:enumeration value="openRetailLoanAccount"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="customerJobKey" type="tns:jobKeyType"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="jobStatusType">
		<xsd:sequence>
			<xsd:element name="status">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="completed"/>
						<xsd:enumeration value="failed"/>
						<xsd:enumeration value="existing"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="internalID" type="xsd:string"/>
				<xsd:element name="fault">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" name="message" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getJobStatusReplyType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="groupJob" type="tns:jobStatusType"/>
				<xsd:element name="customerJob" type="tns:jobStatusType"/>
				<xsd:element name="savingAccountJob" type="tns:jobStatusType"/>
				<xsd:element name="loanAccountJob" type="tns:jobStatusType"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="addCenter">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="addCenterRequest" nillable="true" type="tns:addCenterRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="addCenterResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="addCenterReply" nillable="true" type="tns:addCenterReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="addCenterRequestType">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="1" ref="center:center"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="addCenterReplyType">
		<xsd:sequence>
			<xsd:element name="internalID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element ibmSchExtn:docRoot="true" name="processGroupLoanApplication">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="processGroupLoanApplicationRequest" nillable="true" type="tns:processGroupLoanApplicationRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="processGroupLoanApplicationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="processGroupLoanApplicationReply" nillable="true" type="tns:processGroupLoanApplicationReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="processGroupLoanApplicationRequestType">
		<xsd:sequence>
			<xsd:element name="originator" type="dt:userNameType"/>
			<xsd:element name="checker" type="dt:userNameType"/>
			<xsd:element maxOccurs="1" minOccurs="1" ref="group:applicantGroup"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="processGroupLoanApplicationReplyType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processId" type="xsd:integer"/>
			<xsd:element name="messageText" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:element ibmSchExtn:docRoot="true" name="getConsumerCreditReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getConsumerCreditReportRequest" nillable="true" type="tns:getConsumerCreditReportRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="getConsumerCreditReportResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getConsumerCreditReportReply" nillable="true" type="tns:getConsumerCreditReportReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getConsumerCreditReportRequestType">
		<xsd:complexContent>
			<xsd:extension base="cr:creditRatingRequestType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getConsumerCreditReportReplyType">
		<xsd:sequence>
			<xsd:element name="creditApproved" type="xsd:boolean"/>
			<xsd:element name="creditDecisionReasons">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="4" minOccurs="1" name="reason" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element ibmSchExtn:docRoot="true" name="openRetailLoanAccount">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openRetailLoanAccountRequest" nillable="true" type="tns:openRetailLoanAccountRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element ibmSchExtn:docRoot="true" name="openRetailLoanAccountResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="openRetailLoanAccountReply" nillable="true" type="tns:openRetailLoanAccountReplyType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="openRetailLoanAccountRequestType">
	</xsd:complexType>
	<xsd:complexType name="openRetailLoanAccountReplyType"/>
	<xsd:element ibmSchExtn:docRoot="true" name="getApplicationStatus">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getApplicationStatusRequest" nillable="true" type="tns:getApplicationStatusRequestType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getApplicationStatusRequestType">
		<xsd:sequence>
			<xsd:element name="LoanCycle" type="xsd:string"/>
			<xsd:element name="ExternalCustomerId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getApplicationStatusReplyType"/>
	<xsd:element ibmSchExtn:docRoot="true" name="getApplicationStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="getApplicationStatusResponse" nillable="true" type="tns:getApplicationStatusResponseType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="getApplicationStatusResponseType">
		<xsd:sequence>
			<xsd:element name="reponseMessage" type="xsd:string"/>
			<xsd:element name="currentStatus" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:element ibmSchExtn:docRoot="true" name="uploadCustomerDocument">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="uploadCustomerDocumentRequest" type="tns:uploadCustomerDocumentRequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

	<xsd:complexType name="uploadCustomerDocumentRequestType">
  		<xsd:sequence>
  			<xsd:element name="customerId" type="xsd:string"/>
  			<xsd:element name="documentType">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Photo"/>
						<xsd:enumeration value="Sign"/>
					</xsd:restriction>
				</xsd:simpleType>
  			</xsd:element>
  			<xsd:element name="imageUrl" type="xsd:string"/>
  		</xsd:sequence>
	</xsd:complexType>

    <xsd:element ibmSchExtn:docRoot="true" name="uploadCustomerDocumentResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="uploadCustomerDocumentResponse" type="tns:uploadCustomerDocumentResponseType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  	<xsd:complexType name="uploadCustomerDocumentResponseType">
  		<xsd:sequence>
  			<xsd:element name="status" type="xsd:string"/>
  			<xsd:element name="message" type="xsd:string"/>
  		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>