AccountOpeningService/center.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
      xmlns:dt="http://www.quantiguous.com/FI/dataTypes.xsd" 
      xmlns:tns="http://www.quantiguous.com/FI/center.xsd" targetNamespace="http://www.quantiguous.com/FI/center.xsd">
   <xsd:import schemaLocation="dataTypes.xsd" namespace="http://www.quantiguous.com/FI/dataTypes.xsd" />
   <xsd:element name="center">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="externalCenterId">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="100" />
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="externalAgentId" type="xsd:string"/>
            <xsd:element name="centerName">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                     <xsd:maxLength value="256" />
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
            <xsd:element name="formationDate" type="xsd:date"/>
            <xsd:element name="servicingAgent" type="xsd:string"/>
            <xsd:element name="maximumIndividuals" type="xsd:int" fixed="40"/>
            <xsd:element name="meetingTime" type="xsd:time" />
            <xsd:element name="meetingAddress" type="dt:addressType" />
            <xsd:element name="operationgRegionCode" type="xsd:string"/>
            <xsd:element name="branchCode" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
