AccountOpeningService/customer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.quantiguous.com/FI/customer.xsd" xmlns:dt="http://www.quantiguous.com/FI/dataTypes.xsd" xmlns:ge="http://www.quantiguous.com/FI/globalElements.xsd" xmlns:loanAccount="http://www.quantiguous.com/FI/loanAccount.xsd" xmlns:savingAccount="http://www.quantiguous.com/FI/savingAccount.xsd" xmlns:tns="http://www.quantiguous.com/FI/customer.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   	
   	<xsd:import namespace="http://www.quantiguous.com/FI/dataTypes.xsd" schemaLocation="dataTypes.xsd"/>
   	<xsd:import namespace="http://www.quantiguous.com/FI/globalElements.xsd" schemaLocation="globalElements.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/FI/savingAccount.xsd" schemaLocation="savingAccount.xsd"/>   
 	<xsd:import namespace="http://www.quantiguous.com/FI/loanAccount.xsd" schemaLocation="loanAccount.xsd"/>
   
   	<xsd:complexType name="individualType">
		<xsd:sequence>
               <xsd:element ref="ge:externalId">
               	<xsd:annotation>
                  <xsd:documentation>
                     The external number for the customer that'll be created.
                     This needs to be unique (ensured by the calling system) and can be used in 
                     subsequent inquiry.
                  </xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
	           <xsd:element maxOccurs="1" minOccurs="1" ref="ge:title">
               	<xsd:annotation>
                  <xsd:documentation>Title for the customer.</xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
	           <xsd:element maxOccurs="1" minOccurs="1" ref="ge:customerName">
               	<xsd:annotation>
                  <xsd:documentation>Name of the customer.</xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
	           <xsd:element name="address" type="dt:addressType">
               	<xsd:annotation>
                  <xsd:documentation>Customer address.</xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
		       <xsd:element maxOccurs="1" minOccurs="1" ref="ge:dateOfBirth">
               	<xsd:annotation>
                  <xsd:documentation>Customer's date of birth.</xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="ge:mobileNo">
               	<xsd:annotation>
                  <xsd:documentation>Mobile number of the customer.</xsd:documentation>
               </xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" name="caste">
                  <xsd:annotation>
                     <xsd:documentation>01-GENERAL - MEN,02-S.C - MEN,03-S.T - MEN,04-OBC\NT - MEN,05-GENERAL - WOMEN,06-S.C - WOMEN,7-S.T - WOMEN,8-OBC\NT - WOMEN,9-NON-PERSONAL A/C</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:enumeration value="01"/>
						<xsd:enumeration value="02"/>
						<xsd:enumeration value="03"/>
						<xsd:enumeration value="04"/>
						<xsd:enumeration value="05"/>
						<xsd:enumeration value="06"/>
						<xsd:enumeration value="7"/>
						<xsd:enumeration value="8"/>
						<xsd:enumeration value="9"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element ref="tns:gender"/>
	           <xsd:element minOccurs="0" name="maritalStatus">
                  <xsd:annotation>
                     <xsd:documentation>01-Single,02-Married,03-Divorcee,04-Widow,05-Widower,06-Other</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="01"/>
						<xsd:enumeration value="02"/>
						<xsd:enumeration value="03"/>
						<xsd:enumeration value="04"/>
						<xsd:enumeration value="05"/>
						<xsd:enumeration value="06"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="nationality">
                  <xsd:annotation>
                     <xsd:documentation>IN-INDIAN,02-NON INDIAN</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:maxLength value="100"/>
						<xsd:enumeration value="IN"/>
						<xsd:enumeration value="02"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="religion">
                  <xsd:annotation>
                     <xsd:documentation>01-GENERAL,02-Muslim,03-Buddhist,04-Neo-Buddhist,05-Christian,06-Sikh,07-Zorashtrian,08-Other Minority,09-Hindu</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
					<xsd:enumeration value="01"/>
					<xsd:enumeration value="02"/>
					<xsd:enumeration value="03"/>
					<xsd:enumeration value="04"/>
					<xsd:enumeration value="05"/>
					<xsd:enumeration value="06"/>
					<xsd:enumeration value="07"/>
					<xsd:enumeration value="08"/>
					<xsd:enumeration value="09"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="motherTongue">
                  <xsd:annotation>
                     <xsd:documentation>kn-IN = Kannada,hi-IN = Hindi, or-IN = Oriya, en-US  = English,mr-IN = Marathi,ml-IN= =Malayalam,sn-IN = Sanskrit,ta-IN = Tamil,sn-IN = Sanskrit,bn-IN = Bengali,en-US = OTHERS</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
					<xsd:enumeration value="kn-IN"/>
					<xsd:enumeration value="hi-IN"/>
					<xsd:enumeration value="en-US"/>
					<xsd:enumeration value="mr-IN"/>
					<xsd:enumeration value="ml-IN"/>
					<xsd:enumeration value="sn-IN"/>
					<xsd:enumeration value="ta-IN"/>
					<xsd:enumeration value="bn-IN"/>
					<xsd:enumeration value="en-US"/>
					<xsd:enumeration value="or-IN"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element ref="ge:branchCode">
               	<xsd:annotation>
                  	<xsd:documentation>Branch code to which the customer has to be mapped.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element ref="ge:branchName">
               	<xsd:annotation>
                  	<xsd:documentation>Branch name to which the customer has to be mapped.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element maxOccurs="1" minOccurs="0" ref="ge:operatingRegion">
               	<xsd:annotation>
                  	<xsd:documentation>Operating region of the customer. Make sure operating region is child of the branch code.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:aadharNo">
               	<xsd:annotation>
                  	<xsd:documentation>Valid aadhar card no of the customer.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:pensionCardNo">
               	<xsd:annotation>
                  	<xsd:documentation>Pension card no of the customer.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:rationCardNo">
               	<xsd:annotation>
                  	<xsd:documentation>Ration card no of the customer.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:voterId">
               	<xsd:annotation>
                  	<xsd:documentation>Voter ID of the customer.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:signCardID">
               	<xsd:annotation>
                  	<xsd:documentation>This ID will help in recognising customer's' signature image.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:documentID">
               	<xsd:annotation>
                  	<xsd:documentation>Document ID of any documents other than mentioned above.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" ref="tns:grtFormID">
               	<xsd:annotation>
                  	<xsd:documentation>ID for group recognition test form.</xsd:documentation>
               	</xsd:annotation>	
               </xsd:element>
	           <xsd:element minOccurs="0" name="panNo">
               	<xsd:annotation>
                  	<xsd:documentation>PAN card no of the customer.</xsd:documentation>
               	</xsd:annotation>	
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:minLength value="10"/>
	                    <xsd:maxLength value="10"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
		       <xsd:element maxOccurs="1" minOccurs="1" ref="ge:barcodeNo">
               	<xsd:annotation>
                  	<xsd:documentation>This will be used to track the application.</xsd:documentation>
               	</xsd:annotation>
               </xsd:element>
	           <xsd:element minOccurs="0" name="aadharSeedingConsent">
                 <xsd:annotation>
                    <xsd:documentation>01-Yes,02-NO</xsd:documentation>
                 </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:maxLength value="100"/>
					<xsd:enumeration value="01"/>
					<xsd:enumeration value="02"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="health">
                  <xsd:annotation>
                     <xsd:documentation>02-Partial sa,03-Physically Challenged,04-Mentally Challenged,05-gir,06-Blind,07-One</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="01"/>
						<xsd:enumeration value="02"/>
						<xsd:enumeration value="03"/>
						<xsd:enumeration value="04"/>
						<xsd:enumeration value="05"/>
						<xsd:enumeration value="06"/>
						<xsd:enumeration value="07"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="occupation">
                  <xsd:annotation>
                     <xsd:documentation>1-Medical Practitioner (Doctor),2-Engineering (Engineer),3-Legal Practice (Advocate),4-Professor,5-Teacher,6-Businessman,7-Industrialist,8-Social Worker,9-C.A./C.S./Cost Accountant,10-Consultant,11-Architect,12-Agriculturist,13-OTHERS</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:int">
	                    <xsd:minInclusive value="1"/>
	                    <xsd:maxInclusive value="13"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="educationalQualification">
                  <xsd:annotation>
                     <xsd:documentation>03-Post Grauduate,04-Graduate,05-Under Graduate,07-Doctorate,08-Professionally Qualified,09-Others,10-9th Pass,11-agricultural mgt,12-No Schooling,13-10th Fail,14-10th Pass,15-Diploma Holder</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="03"/>
						<xsd:enumeration value="04"/>
						<xsd:enumeration value="05"/>
						<xsd:enumeration value="06"/>
						<xsd:enumeration value="07"/>
						<xsd:enumeration value="08"/>
						<xsd:enumeration value="09"/>
						<xsd:enumeration value="10"/>
						<xsd:enumeration value="11"/>
						<xsd:enumeration value="12"/>
						<xsd:enumeration value="13"/>
						<xsd:enumeration value="14"/>
						<xsd:enumeration value="15"/>
	                 </xsd:restriction>
	
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="category">
                  <xsd:annotation>
                     <xsd:documentation>1-SMALL FARMER,2-BIG FARMER,3-OTHER,4-Unemployed</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:int">
					<xsd:minInclusive value="1"/>
					<xsd:maxInclusive value="4"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="language">
                  <xsd:annotation>
                     <xsd:documentation>kn-IN - Kannada,hi-IN - Hindi,en-US - English,mr-IN - Marathi,ml-IN - Malayalam,or-IN - Oriya,sn-IN - Sanskrit,ta-IN - Tamil,sn-IN - Sanskrit,bn-IN - Bengali,en-US - OTHERS</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
					<xsd:enumeration value="kn-IN"/>
					<xsd:enumeration value="hi-IN"/>
					<xsd:enumeration value="en-US"/>
					<xsd:enumeration value="mr-IN"/>
					<xsd:enumeration value="ml-IN"/>
					<xsd:enumeration value="sn-IN"/>
					<xsd:enumeration value="ta-IN"/>
					<xsd:enumeration value="sn-IN"/>
					<xsd:enumeration value="bn-IN"/>
					<xsd:enumeration value="en-US"/>
					<xsd:enumeration value="or-IN"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="kycType">
                  <xsd:annotation>
                     <xsd:documentation>1-GIR No,2-PAN Card No,3-FORM 60,4-FORM 61</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:int">
	                    <xsd:minInclusive value="1"/>
						<xsd:maxInclusive value="4"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="kycId">
                  <xsd:annotation>
                     <xsd:documentation>ID of the KYC document selected.</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:maxLength value="100"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="0" name="cardIssuanceFlag">
                  <xsd:annotation>
                     <xsd:documentation>0 - False, 1-True</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:int">
					<xsd:minInclusive value="0"/>
					<xsd:maxInclusive value="1"/>    
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element minOccurs="1" name="bcBranchCode">
                  <xsd:annotation>
                     <xsd:documentation>Branch code of the Busines Center.</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
	                    <xsd:maxLength value="100"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element name="minorityCommunity">
                  <xsd:annotation>
                     <xsd:documentation>Religious-MC1,Linguistic-MC2, Does not belong-MC3,NA-MC4</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="MC1"/>
						<xsd:enumeration value="MC2"/>
						<xsd:enumeration value="MC3"/>
						<xsd:enumeration value="MC4"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element name="disabilityHandicapped">
                  <xsd:annotation>
                     <xsd:documentation>Physical Disability- DH1, Vision Impairment- DH2,  Hearing Impairment-DH3,  Sensory Disability- DH4, No Disability- DH5, NA-DH6</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="DH1"/>
						<xsd:enumeration value="DH2"/>
						<xsd:enumeration value="DH3"/>
						<xsd:enumeration value="DH4"/>
						<xsd:enumeration value="DH5"/>
						<xsd:enumeration value="DH6"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element name="weakerSection">
               <xsd:annotation>
                  <xsd:documentation>Scheduled Caste- WS1, Scheduled Tribe-WS2, OBC- WS3, NA-WS4</xsd:documentation>
               </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
						<xsd:enumeration value="WS1"/>
						<xsd:enumeration value="WS2"/>
						<xsd:enumeration value="WS3"/>
						<xsd:enumeration value="WS4"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
	           <xsd:element name="borrowerType">
                  <xsd:annotation>
                     <xsd:documentation>This has to be unique across all the requests made. Maximum 16 characters alphanumeric</xsd:documentation>
                  </xsd:annotation>
	              <xsd:simpleType>
	                 <xsd:restriction base="xsd:string">
					<xsd:enumeration value="BT1"/>
					<xsd:enumeration value="BT2"/>
					<xsd:enumeration value="BT3"/>
					<xsd:enumeration value="BT4"/>
					<xsd:enumeration value="BT5"/>
					<xsd:enumeration value="BT6"/>
	                 </xsd:restriction>
	              </xsd:simpleType>
	           </xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="newCustomerType">
		<xsd:complexContent>
			<xsd:extension base="tns:individualType">
				<xsd:sequence>
				    <xsd:element maxOccurs="1" minOccurs="0" ref="ge:batchID"/>
					<xsd:element name="savingAccount" type="savingAccount:savingAccountType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="newCustomer" type="tns:newApplicantType"/>

	<xsd:complexType name="newApplicantType">
		<xsd:complexContent>
			<xsd:extension base="tns:individualType">
				<xsd:sequence>
					<xsd:element ref="savingAccount:savingAccount"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="applicant">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice>
					<xsd:element name="existingCustomer">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="tns:individualType">
								    <xsd:sequence>
			                         	<xsd:element maxOccurs="1" minOccurs="1" ref="loanAccount:loanAccount"/>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="tns:newCustomer"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
 
   <xsd:element name="customer">
      <xsd:complexType>
         	<xsd:choice>
				<xsd:element name="existingCustomer">
					<xsd:complexType>
						<xsd:sequence>
						    <xsd:element ref="ge:externalId"/>	
							<xsd:element maxOccurs="1" minOccurs="1" name="loanAccount" type="loanAccount:loanAccountType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="newCustomer" type="tns:newCustomerType"/>
         	</xsd:choice>
      </xsd:complexType>
   </xsd:element>
   
   <!--  globals used in other schemas -->
   
 
     <xsd:element name="pensionCardNo">
        <xsd:simpleType>
           <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
           </xsd:restriction>
        </xsd:simpleType>
     </xsd:element>
     <xsd:element name="voterId">
        <xsd:simpleType>
           <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
           </xsd:restriction>
        </xsd:simpleType>
     </xsd:element>
    <xsd:element name="aadharNo">
        <xsd:simpleType>
           <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
           </xsd:restriction>
        </xsd:simpleType>
     </xsd:element>     
     <xsd:element name="rationCardNo">
        <xsd:simpleType>
           <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"/>
           </xsd:restriction>
        </xsd:simpleType>
     </xsd:element>
		<xsd:element name="signCardID">
		   <xsd:simpleType>
		      <xsd:restriction  base="xsd:string">
		         <xsd:maxLength value="50"/>
		      </xsd:restriction>
		   </xsd:simpleType>
		</xsd:element>
		<xsd:element name="documentID">
		   <xsd:simpleType>
		      <xsd:restriction base="xsd:string">
		         <xsd:maxLength value="50"/>
		      </xsd:restriction>
		   </xsd:simpleType>
		</xsd:element>
		<xsd:element name="grtFormID">
		   <xsd:simpleType>
		      <xsd:restriction base="xsd:string">
		         <xsd:maxLength value="50"/>
		      </xsd:restriction>
		   </xsd:simpleType>
		</xsd:element>

       <xsd:element name="gender">
          <xsd:annotation>
             <xsd:documentation>01-Male,02-Female,03-Other</xsd:documentation>
          </xsd:annotation>
         <xsd:simpleType>
            <xsd:restriction base="xsd:string">
				<xsd:enumeration value="01"/>
				<xsd:enumeration value="02"/>
				<xsd:enumeration value="03"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>

</xsd:schema>