AccountOpeningService/customerHandOffFormat.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:dt="http://www.quantiguous.com/xmlnsc/dataTypes.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.quantiguous.com/xmlnsc/customerHandOffFormat.xsd">

   <xsd:import schemaLocation="dataTypes.xsd"
		namespace="http://www.quantiguous.com/xmlnsc/dataTypes.xsd" />  
    <xsd:element name="customer">
					<xsd:complexType>
						<xsd:sequence>													
							<xsd:element name="TITLE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="CUSTOMERNAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="PARTNER-ENROLLMENT-NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="EXTERNAL-CUSTOMER-ID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
                
              </xsd:element>
              <xsd:element name='address' type='dt:addressType'/>
              

							<xsd:element name="CUSTDOB">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="MOBILE_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="30"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="PHONE_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="EMAILID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="CASTE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="GENDER">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="MARITALSTATUS">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="NATIONALITY">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="RELIGION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="FATHERNAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="SPOUSE_NAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="SPOUSE_DOB">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="MOTHER_TONGUE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
		
							<xsd:element name="BRANCH-CODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="OPERATING-REGION-CODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
					
							<xsd:element minOccurs="0" name="BANKNAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="BANK-AC-NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="BANK-BRANCH-NAME">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="HOUSEHOLD_CARDNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="PENSION_CARDNO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="RATION_CARD_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="VOTER_ID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="PAN_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="FAX_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="BARCODE_NO">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="500"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="AADHAR_SEEDING_CONSENT">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="BC_REFERENCE_ID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="CUSTOMER_TYPE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="HEALTH">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="OCCUPATION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="FAMILY_TYPE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="BLOOD_GROUP">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="EDU-QUALIFICATION">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="CATEGORY">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="LANGUAGE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="VILLAGE_TC">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="KYC_TYPE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="KYCID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="URBAN-RURAL">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="LAND-HOLDING-IN-ACRES">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="ANNUAL-HOUSEHOLDING">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="EXTERNAL-AGENTID">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="CARDISSUANCEFLAG">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="0" name="CUSTOMER-CREATION-DATE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element minOccurs="1" name="BC-BRANCH-CODE">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							
							<xsd:element minOccurs="0" name="UDF1">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF2">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF3">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF4">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
							<xsd:element name="UDF5">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4000"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
				
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
</xsd:schema>
