AccountOpeningService/loanAccount.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://www.quantiguous.com/FI/loanAccount.xsd" xmlns:ge="http://www.quantiguous.com/FI/globalElements.xsd" xmlns:tns="http://www.quantiguous.com/FI/loanAccount.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:import namespace="http://www.quantiguous.com/FI/globalElements.xsd" schemaLocation="globalElements.xsd"/>
   
   	<xsd:complexType name="loanAccountType">
   		<xsd:complexContent>
   			<xsd:extension base="tns:loanApplicationType">
   				<xsd:sequence>
		            <xsd:element maxOccurs="1" minOccurs="0" ref="ge:batchID"/>
   				</xsd:sequence>
   			</xsd:extension>
   		</xsd:complexContent>
   	</xsd:complexType>
   
   <xsd:element name="loanAccount" type="tns:loanApplicationType"/>
   
      <xsd:complexType name="loanApplicationType">
         <xsd:sequence>
        	<xsd:element maxOccurs="1" minOccurs="1" ref="ge:externalId">
                <xsd:annotation>
                  <xsd:documentation>
                     The external number for the account that'll be opened.
                     This needs to be unique (ensured by the calling system) and can be used in 
                     subsequent inquiry.
                  </xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="loanProductCode">
                <xsd:annotation>
                  <xsd:documentation>
                  3030-JLG  Micro Enterprises,3131-JLG  Crop Loan,3132-JLG  Crop Loan Vegetable3133- Land Development,3134-JLG Agri Allied Loans
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:integer">
						<xsd:enumeration value="3030"/>
						<xsd:enumeration value="3131"/>
						<xsd:enumeration value="3132"/>
						<xsd:enumeration value="3133"/>
						<xsd:enumeration value="3134"/>
						<xsd:enumeration value="3135"/>
						<xsd:enumeration value="3136"/>
						<xsd:enumeration value="3137"/>
						<xsd:enumeration value="3138"/>
						<xsd:enumeration value="3140"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
			<xsd:element maxOccurs="1" minOccurs="1" ref="ge:productName"/>
            <xsd:element ref="tns:loanAmount"/>
 			<xsd:element fixed="1" name="disbursementMode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						The disbursement mode of the loan. Currently fixed to 1 (cash)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
            
            <xsd:element name="noOfInstallments">
            	<xsd:simpleType>
            		<xsd:restriction base="xsd:integer">
            			<xsd:minExclusive value="0"/>
            		</xsd:restriction>
            	</xsd:simpleType>
            </xsd:element>
            <xsd:element name="repaymentFrequency">
                <xsd:annotation>
                  <xsd:documentation>
                  1-Daily,2-Weekly,3-Fortnightly,4-Monthly,5-Quarterly,6-Semiannual,7-Annualy,9-Biweekly
                  </xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:integer">
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
						<xsd:enumeration value="3"/>
						<xsd:enumeration value="4"/>
						<xsd:enumeration value="5"/>
						<xsd:enumeration value="6"/>
						<xsd:enumeration value="7"/>
						<xsd:enumeration value="9"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>


            <xsd:element minOccurs="0" name="loanCycle">   
               <xsd:annotation>
               		<xsd:documentation>1-Cycle 1,2-Cycle 2, 3-Cycle 3, 4-Cycle 4- The first, second or third loan for the customer</xsd:documentation>
               </xsd:annotation>
               <xsd:simpleType>
                  <xsd:restriction base="xsd:integer">
                     <xsd:minInclusive value="1"/>
                     <xsd:maxInclusive value="4"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
		       <xsd:element maxOccurs="1" minOccurs="1" ref="ge:barcodeNo"/>
            
            <xsd:element name="udfs">
            	<xsd:complexType>
            		<xsd:sequence>
			            <xsd:element name="governmentSchemeAdvances">
                <xsd:annotation>
                  <xsd:documentation>
                  Swabhiman-GSA1, SGSY-GSA2, Swavalamban-GSA3, Others-GSA4, NA-GSA5
                  </xsd:documentation>
               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
								<xsd:enumeration value="GSA1"/>
								<xsd:enumeration value="GSA2"/>
								<xsd:enumeration value="GSA3"/>
								<xsd:enumeration value="GSA4"/>
								<xsd:enumeration value="GSA5"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>
			            <xsd:element name="purposeOfLoan">
			                <xsd:annotation>
			                  <xsd:documentation>
								Agriculture- POl1, Education-POL2, Others-POL3, Farming-POL-4, NA-POL5
			                  </xsd:documentation>
			               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
								<xsd:enumeration value="POl1"/>
								<xsd:enumeration value="POL2"/>
								<xsd:enumeration value="POL3"/>
								<xsd:enumeration value="POL-4"/>
								<xsd:enumeration value="POL5"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>
			            <xsd:element name="advanceType">
                <xsd:annotation>
                  <xsd:documentation>
                  Demand Loan-AT1, Term Loan-AT2, Overdraft- AT3, Cash Credit-AT4, Others-AT5, NA-AT6
                  </xsd:documentation>
               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
									<xsd:enumeration value="AT1"/>
									<xsd:enumeration value="AT2"/>
									<xsd:enumeration value="AT3"/>
									<xsd:enumeration value="AT4"/>
									<xsd:enumeration value="AT5"/>
									<xsd:enumeration value="AT6"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>
			            <xsd:element name="industryClassification">
			                <xsd:annotation>
			                  <xsd:documentation>
			                  Primary-IC1,Secondary-IC2,  Tertiary-IC3, Others-IC4, NA-IC5
			                  </xsd:documentation>
			               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
									<xsd:enumeration value="IC1"/>
									<xsd:enumeration value="IC2"/>
									<xsd:enumeration value="IC3"/>
									<xsd:enumeration value="IC4"/>
									<xsd:enumeration value="IC5"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>
			            <xsd:element name="bsrOraganisationCode">
			                <xsd:annotation>
			                  <xsd:documentation>
			                  Type A-BSR1, Type B-BSR2, Type C-BSR3, Others-BSR4, NA-BSR5
			                  </xsd:documentation>
			               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
								<xsd:enumeration value="BSR1"/>
								<xsd:enumeration value="BSR2"/>
								<xsd:enumeration value="BSR3"/>
								<xsd:enumeration value="BSR4"/>
								<xsd:enumeration value="BSR5"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>
			            <xsd:element name="insuranceFlag">
			                <xsd:annotation>
			                  <xsd:documentation>
			                  Single-IF1, Double-IF2, NA-IF3
			                  </xsd:documentation>
			               </xsd:annotation>
			               <xsd:simpleType>
			                  <xsd:restriction base="xsd:string">
									<xsd:enumeration value="IF1"/>
									<xsd:enumeration value="IF2"/>
									<xsd:enumeration value="IF3"/>
			                  </xsd:restriction>
			               </xsd:simpleType>
			            </xsd:element>      		
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <!--TO DO : below two be moved in loanAccountType putting them here as the development from mATM is alreay done -->
            <xsd:element name="loanStartDate" type="xsd:date">
            	<xsd:annotation>
            		<xsd:documentation>
            			This is the date on which the loan account will be opened, and also the disbursement will be done (disbursement date). 
            			This cannot be a future date, a back date is allowed for upto a month.
            			This validation is currently not enforced in the schema.
            		</xsd:documentation>
            	</xsd:annotation>
            </xsd:element>
            <xsd:element name="repaymentStartDate" type="xsd:date">
            	<xsd:annotation>
            		<xsd:documentation>
            			This is the date on which the (EMI) repayment  will start.
            			This has to be greater than the disbusrement date, and upto 2 months maxium.
            			This validation is currently not enforced in the schema.
            		</xsd:documentation>
            	</xsd:annotation>
			</xsd:element>
         </xsd:sequence>
      </xsd:complexType>
      
   <!--  common elements used in other schemas -->
      <xsd:element name="loanAmount">
         <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
               <xsd:totalDigits value="16"/>
               <xsd:fractionDigits value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:element>
   
</xsd:schema>