AccountOpeningByPartnerService/AccountOpeningByPartnerService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://AccountOpeningByPartnerService" xmlns:tns="http://AccountOpeningByPartnerService" 
xmlns:rlcust="http://www.quantiguous.com/RL/customer.xsd" 
xmlns:rllnacct="http://www.quantiguous.com/RL/loanAccount.xsd" 
xmlns:rllnrepay="http://www.quantiguous.com/RL/loanRepayment.xsd" 
xmlns:rllndisb="http://www.quantiguous.com/RL/loanDisbursal.xsd" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.quantiguous.com/RL/customer.xsd" schemaLocation="RL/customer.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/RL/loanAccount.xsd" schemaLocation="RL/loanAccount.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/RL/loanRepayment.xsd" schemaLocation="RL/loanRepayment.xsd"/>
	<xsd:import namespace="http://www.quantiguous.com/RL/loanDisbursal.xsd" schemaLocation="RL/loanDisbursal.xsd"/>

            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="openRetailLoanAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="openRetailLoanAccountParameters" nillable="true" type="tns:openRetailLoanAccountRequestType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
            <xsd:element xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" ibmSchExtn:docRoot="true" name="openRetailLoanAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="openRetailLoanAccountResult" nillable="true" type="tns:openRetailLoanAccountReplyType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    <xsd:complexType name="openRetailLoanAccountRequestType">
      <xsd:sequence>
        <xsd:element name="referenceNumber">
	      	<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:minLength value="10"/>
					<xsd:maxLength value="16"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:element>
        <xsd:element name="customer" type="rlcust:retailCustomerType"/>
        <xsd:element name="coApplicant" type="rlcust:retailCustomerType" minOccurs="0"/>
        <xsd:element name="loanAccount" type="rllnacct:retailLoanType"/>
        <xsd:element name="loanRepayment" type="rllnrepay:retailLoanRepaymentType"/>
        <xsd:element name="loanDisbursal" type="rllndisb:retailLoanDisbursementType"/>
      </xsd:sequence>    
    </xsd:complexType>
    <xsd:complexType name="openRetailLoanAccountReplyType"/>
</xsd:schema>