finacle/BalInq/BalInqResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.finacle.com/fixml" targetNamespace="http://www.finacle.com/fixml" elementFormDefault="qualified">

<xs:include schemaLocation="BalInqRs.xsd"/>
<xs:include schemaLocation="../custom/BalInqCustom.xsd"/>

<xs:element name="BalInqResponse">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="BalInqRs" type="BalInqRs"/>
			<xs:element name="BalInq_CustomData" type="BalInq_Res_CustomData_Type" minOccurs="0"/>
	  	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>	
